section.main-promo
    .main-wrapper.df
        article.main-promo__description
            h3.main-promo__header
                span.main-promo__header-element TOPTIERBEDAF
                span.main-promo__header-element DAS BESTE FÜR IHR TIER
            .main-promo__text
                p.
                    Sie wollen ausschließlich das Beste für Ihr geliebtes Tier und setzen einen hohen Wert auf
                    erstklassige Qualität? Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche
                    Produkte aus dem Bereich Tierbedarf. Ob Tiernahrung in Form von Trockenfutter und Nassfutter,
                    Spielzeug für Hund und Katze, Schlafplätze oder aber andere wichtige Artikel aus dem
                    Heimtierbedarf, bei uns erhalten Sie stets etwas Passendes. So finden Sie in unserem Sortiment
                    ebenfalls erstklassige Artikel für Nager, alles rund um die Aquaristik und Terraristik sowie
                    Zubehör für Vögel, Pferde und Ihren Gartenteich.
        .main-promo__image.df-cc
            img(src="/img/pics-block1.jpg" alt="#").image
        .main-promo__image.df-cc
            img(src="/img/pics-block2.jpg" alt="#").image
        article.main-promo__description
            h3.main-promo__header
                span.main-promo__header-element HAUSTIERFUTTER AUS
                span.main-promo__header-element BESTER QUALITÄT
            .main-promo__text
                p.
                    Wenn es um die Gesundheit Ihres Tiers geht, spielt die Nahrung eine besonders wichtige Rolle.
                    Aus diesem Grund bieten wir Ihnen ausgewogenes Hundefutter, Katzenfutter sowie Tiernahrung für
                    verschiedene Kleintiere. Hergestellt aus hochwertigen Inhaltsstoffen versorgt es Ihr Tier mit
                    allen wichtigen Vitaminen, Nährstoffen und Spurenelementen. Für den Fressnapf von Hunden und
                    Katzen bieten wir neben dem typischen Nassfutter und Trockenfutter, welche in der Regel als
                    Hauptfutter genutzt werden, auch spezielle Tiernahrung, wie zum Beispiel Ergänzungsfutter bzw.
                    Futterergänzung, Diätfutter und Kausnacks an. Auch für Ihre Fische, Nagetiere und anderen
                    Lieblinge finden Sie in unserem online Heimtiermarkt etwas Passendes.
                p.
                    Selbstverständlich bieten wir Ihnen auch in Sachen Leckerli und Kausnack den einen oder anderen
                    Leckerbissen.
