article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Versand
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span VERSAND
    .static__column
        h3.static__column-header-pic.static__column-bg-header1
            span KOSTEN INNERHALB DEUTSCHLAND:
        p.static__column-text.
            Bei Bestellungen unter einem Warenwert von 30,00 € fallen 1,99 € Versandkosten an. Ab einem
            Warenwert von 30,00 € (ausgenommen Versand in das Ausland und Sonderversand — Sperrgut und Pfand)
            entfallen die Versandkosten.
        h3.static__column-header-pic.static__column-bg-header2
            span KOSTEN BEI NACHNAHMEZAHLUNG UND LIEFERUNG INNERHALB DEUTSCHLAND:
        p.static__column-text.
            Bei einer Bestellung per Nachnahme innerhalb Deutschland und einem Warenwert unter 30,00 € fallen
            1,99 € Versandkosten und zzgl. 5,50 € Nachnahmegebühren an. Zusätzlich erhebt DHL 2,00 €
            Zustellgebühr bei Übergabe. Ab einem Warenwert von 30,00 € (ausgenommen Versand in das Ausland und
            Sonderversand — Sperrgut und Pfand) fallen nur die Nachnahmegebühren in Höhe von 5,50 € und die DHL
            Zustellgebühren von 2,00 € an.
        p.static__column-text.
            Bei Zahlungen per PayPal, Kreditkarte, Klarna Rechnung, Vorkasse oder Sofortüberweisung fallen keine
            weiteren Transaktionsgebühren für Sie an.
        p.static__column-text.
            Bei Selbstabholung entfallen alle Versandkosten.
    .static__column
        h3.static__column-header-pic.static__column-bg-header1
            span VERSANDKOSTEN AUSSERHALB DEUTSCHLAND:
        p.static__column-text.
            Die aufgeführten Versandkosten ins Ausland gelten unabhängig vom Bestellwert und sind jeweils immer
            zu entrichten.
        h3.static__column-header-pic.static__column-bg-header3
            span IHR LAND WÄHLEN
        p.static__column-text.
            Alle genannten Preisangaben enthalten die gesetzliche Mehrwertsteuer 7% für Futter, 19% für alle
            anderen Waren.
        p.static__column-text.
            Informationen zu eventuellen Zollgebühren finden Sie hier.
        p.static__column-text.
            Wir verschicken unsere Waren aus Deutschland.
        p.static__column-text.
            Bitte beachten: Falls Sie schwere Fracht erwarten, muss der Preis von unserer Auslieferungsabteilung
            genehmigt werden. Wir halten Sie darüber auf dem Laufenden.
        .static__input-block.df-cb
            .static__select-wrapper.df
                select.js-cart-select2
                    option
                    option
                    option
                input(type="text" placeholder="Deutschland").static__input-small
            span für
            input(type="text" placeholder="1.99 €").static__input
