.main-body
    .main-wrapper.main-menu-margin.df--b.dfw
        aside.aside-block
            h3.aside-block__header
                span HUNDESHOP
            ul.aside-block__navigation
                li.aside-block__navigation-element
                    a(href="#") Hundefutter
                li.aside-block__navigation-element
                    a(href="#") Hundeboxen & Autozubehör
                li.aside-block__navigation-element
                    a(href="#") Hundeschlafplatz
                li.aside-block__navigation-element
                    a(href="#") Training & Hundesportartikel
                li.aside-block__navigation-element
                    a(href="#") Leinen & Halsbänder
                li.aside-block__navigation-element.aside-block__navigation-element--active Hundespielzeug
                  ul.aside-block__sub-navigation
                    li.aside-block__sub-navigation-element.aside-block__sub-navigation-element--active
                      a(href="#") Hunde Quietschies
                    li.aside-block__sub-navigation-element
                      a(href="#") Schwimmspielzeug
                    li.aside-block__sub-navigation-element
                      a(href="#") Intelligenzspielzeug
                    li.aside-block__sub-navigation-element
                      a(href="#") Bälle & Ringe
                    li.aside-block__sub-navigation-element
                      a(href="#") Hundefrisbees
                    li.aside-block__sub-navigation-element
                      a(href="#") Kauspielzeug
                    li.aside-block__sub-navigation-element
                      a(href="#") Kuscheltiere
                    li.aside-block__sub-navigation-element
                      a(href="#") Welpenspielzeug
                li.aside-block__navigation-element
                    a(href="#") Napf & Tränke
                li.aside-block__navigation-element
                    a(href="#") Hundepflege & Hygiene
                li.aside-block__navigation-element
                    a(href="#") Hundehütte & Freilauf
                li.aside-block__navigation-element
                    a(href="#") Hundebekleidung
                li.aside-block__navigation-element
                    a(href="#") Junge Hunde & Welpenartikel
            article.products__ad
                img(src="/img/ad-slot1.jpg" alt="#").ad-image
                .header.df-c
                    .percent.df-cc
                        span 10%
                    h2.text
                        span Rabatt
                .info
                    .info__main
                        span Auf Ihre Bestellung
                    .info__text
                        span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
            article.products__ad
                img(src="/img/ad-slot2.jpg" alt="#").ad-image
            article.products__ad
                .ad-form
                    h2.ad-form__header
                        span Angebote & Rabatte sichern!
                    .ad-form__text
                        p.
                            Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                            Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                            alles rund um die
                    input(type="text" placeholder="E-Mail Adresse hier eingeben").ad-form__input
                    button(type="button").ad-form__button ABONNIEREN
        section.main-block
            article.breadcrumbs
                ul.breadcrumbs__list
                    li: a(href="#") Hundeprodukte
                    li: a(href="#") Hundespielzeuge
                    li: a(href="#") Quietschies für Hunde
            article.oshop-block
                h3.main-block__header
                    span Hunde Quietschies
                .oshop-block__text
                    p.
                        Hunde Quietschies sind die ideale Lösung, um gemeinsam
                        mit den Hunden viele spannende Spielstunden zu erleben.
                        Hergestellt aus hochwertigen Materialien handelt es sich
                        um ein Hundespielzeug, das hält, was es verspricht. Dank der
                        quietschenden Geräusche werden die Hunde zum Spielen angeregt.
                        Zusätzlich ist dank der großen Auswahl ist für jeden Geschmack
                        das perfekte Hunde Quietschie zu finden.
            article.market-brands
                h2.market-brands__header
                    span HAUSTIERBEDARF TOP MARKEN
                ul.market-brands__list.df-cb
                    li
                        a(href="#").market-brands__element.df-cc
                            img(src="/img/market-brands1.jpg" alt="#").image
                    li
                        a(href="#").market-brands__element.df-cc
                            img(src="/img/market-brands2.jpg" alt="#").image
                    li
                        a(href="#").market-brands__element.df-cc
                            img(src="/img/market-brands3.jpg" alt="#").image
                    li
                        a(href="#").market-brands__element.df-cc
                            img(src="/img/market-brands4.jpg" alt="#").image
                    li
                        a(href="#").market-brands__element.df-cc
                            img(src="/img/market-brands5.jpg" alt="#").image
            article.filter.df
                .filter__select-block.df
                    .filter__select-type.df
                      label(for="filter").filter__label
                          span Sortieren nach:
                      select.filter__select.js-cart-select4
                          option Topseller
                          option Topseller
                          option Topseller
                    .filter__select-type.filter__select-type--brand.df
                      label(for="filter").filter__label
                          span Marken:
                      select.filter__select.js-cart-select4
                          option Marke
                          option Marke
                          option Marke
                    .filter__select-quantity.df
                      label(for="quantity").filter__label
                          span Pro Seite:
                      select.filter__select.filter__select--small.js-cart-select4
                          option 10
                          option 16
                          option 50
                .filter__select-view
                    span Produktansicht:
                    button(type="button").filter__button.filter__button--cards.filter__button--active cards
                      i.material-icons apps
                    button(type="button").filter__button.filter__button--list list
                      i.material-icons view_list
                .filter__stock
                  label(for="stock").column__label
                      span auf Lager
                  input(class="input" type="checkbox" id="stock" name="stock")
            article.products__main.df
                .content.df
                    ul.list.df--b.dfw
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .natural-corner
                                span NATURAL
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .natural-corner
                                span NATURAL
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
            article.main-block__sub-info
                p
                |    * Preise inkl. gesetzlicher MwSt. zzgl.&ensp;
                a(href="#").main-block__sub-info-link Versand
            .pagination
                ul.pagination__list.df
                  li
                    a(href="#").pagination__link.pagination__link--active 1
                  li
                    a(href="#").pagination__link 2
                  li
                    a(href="#").pagination__link 3
                  li
                    a(href="#").pagination__link 4
                  li
                    a(href="#").pagination__link 5
                  li
                    a(href="#").pagination__link 6...
                  li
                    a(href="#").pagination__link.pagination__link--arrows
                      i.material-icons navigate_next
                  li
                    a(href="#").pagination__link.pagination__link--arrows
                      i.material-icons last_page
    section.pics-block-wrapper
        .main-wrapper.pics-block.df
            .pics-block__text
                h3.pics-block__header
                    span.pics-block__header-element TOPTIERBEDAF
                    span.pics-block__header-element DAS BESTE FÜR IHR TIER
                .pics-block__info
                    p.
                        Sie wollen ausschließlich das Beste für Ihr geliebtes Tier und setzen einen hohen Wert auf
                        erstklassige Qualität? Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche
                        Produkte aus dem Bereich Tierbedarf. Ob Tiernahrung in Form von Trockenfutter und Nassfutter,
                        Spielzeug für Hund und Katze, Schlafplätze oder aber andere wichtige Artikel aus dem
                        Heimtierbedarf, bei uns erhalten Sie stets etwas Passendes. So finden Sie in unserem Sortiment
                        ebenfalls erstklassige Artikel für Nager, alles rund um die Aquaristik und Terraristik sowie
                        Zubehör für Vögel, Pferde und Ihren Gartenteich.
            .pics-block__image.df-cc
                img(src="/img/pics-block1.jpg" alt="#").image
            .pics-block__image.df-cc
                img(src="/img/pics-block2.jpg" alt="#").image
            .pics-block__text
                h3.pics-block__header
                    span.pics-block__header-element HAUSTIERFUTTER AUS
                    span.pics-block__header-element BESTER QUALITÄT
                .pics-block__info
                    p.
                        Wenn es um die Gesundheit Ihres Tiers geht, spielt die Nahrung eine besonders wichtige Rolle.
                        Aus diesem Grund bieten wir Ihnen ausgewogenes Hundefutter, Katzenfutter sowie Tiernahrung für
                        verschiedene Kleintiere. Hergestellt aus hochwertigen Inhaltsstoffen versorgt es Ihr Tier mit
                        allen wichtigen Vitaminen, Nährstoffen und Spurenelementen. Für den Fressnapf von Hunden und
                        Katzen bieten wir neben dem typischen Nassfutter und Trockenfutter, welche in der Regel als
                        Hauptfutter genutzt werden, auch spezielle Tiernahrung, wie zum Beispiel Ergänzungsfutter bzw.
                        Futterergänzung, Diätfutter und Kausnacks an. Auch für Ihre Fische, Nagetiere und anderen
                        Lieblinge finden Sie in unserem online Heimtiermarkt etwas Passendes.
                    p.
                        Selbstverständlich bieten wir Ihnen auch in Sachen Leckerli und Kausnack den einen oder anderen
                        Leckerbissen.
