aside.account-menu
    ul.account-menu__list
        li.account-menu__item
            a(href="#").account-menu__link Bestellungen  verwalten
        li.account-menu__item
            a(href="#").account-menu__link Zahlungsart
        li.account-menu__item
            a(href="#").account-menu__link Lieferadresse
        li.account-menu__item
            a(href="#").account-menu__link Meine Daten
        li.account-menu__item
            a(href="#").account-menu__link Zuletzt gesehene  Artikel
        li.account-menu__item
            a(href="#").account-menu__link.account-menu__link--active Wunschliste
section.account__main-content.df.df-dc
    h1.account__header
        span MEIN KONTO
    article.account__ordering-block
        h2.account__sub-header
            span Wunschliste
        .account-wishlist
            table.account-wishlist__table
                tr.account-wishlist__table-header
                    th(colspan="2") Artikel
                    th Lieferzeit
                    th(colspan="3") Einzelpreis
                tr.account-wishlist__content
                    td.account-wishlist__image
                        img(src="/img/product5.png" alt="#").image
                    td.account-wishlist__product-info
                        h3.account-wishlist__product-header
                            span Brit JUNIOR LARGE BREED 
                        .account-wishlist__product-article
                            span Getreidefrei Lachs & Kartoffel 1kg
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.account-wishlist__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.account-wishlist__unit-price
                        span €12.00
                    td.account-wishlist__to-cart.t-ar
                        button(type="button").account-wishlist__btn-buy Kaufen
                    td.account-wishlist__remove
                        a(href="#"): i.material-icons close
                tr.account-wishlist__content
                    td.account-wishlist__image
                        img(src="/img/product5.png" alt="#").image
                    td.account-wishlist__product-info
                        h3.account-wishlist__product-header
                            span Brit JUNIOR LARGE BREED 
                        .account-wishlist__product-article
                            span Getreidefrei Lachs & Kartoffel 1kg
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.account-wishlist__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.account-wishlist__unit-price
                        span €12.00
                    td.account-wishlist__to-cart.t-ar
                        button(type="button").account-wishlist__btn-buy Kaufen
                    td.account-wishlist__remove
                        a(href="#"): i.material-icons close
