.progress-bar
  margin 55px 0 0 0
  width 100%
  &__header
    width 100%
    text-align center
    font-family r_med
    text-transform uppercase
    font-size 24px
    margin-bottom 40px

.cart-table
  border-bottom 2px solid c_mgray
  padding-bottom 10px
  margin-bottom 20px
  &--transparent
    border 0
    padding 0
    margin 0
  &--padding
    padding 0 30px
.table
  width 100%
  &--transparent
    border-spacing 0 15px
    border-collapse separate
  &__header
    background-color c_mgray
    height 40px
    color white
    font-family r_reg
    font-size 16px
    text-align left
    vertical-align middle
    &-item
      padding-right 5px
      box-sizing border-box
      &:first-of-type
        padding-left 50px
        box-sizing border-box
      &:last-of-type
        padding-right 55px
        box-sizing border-box
    // &--transparent
    //   height 20px
    //   font-size 14px
    //   background-color transparent
    //   text-transform none
    //   color c_black
    //   & th:first-of-type
    //     padding-left 15px
    //   & th:last-of-type
    //     padding-right 35px
    // &--black-color
    //   height 40px
    //   font-size 14px
    //   background-color c_lgray
    //   color c_black
    //   & th:first-of-type
    //     padding-left 25px
    //   & th:last-of-type
    //     padding-right 25px
  // &__input
  //   padding-left 38px
  //   width 15px
  &__content
    text-align left
    vertical-align middle
    // &--white
    //   background-color #ffffff
    //   margin-bottom 10px
    //   box-shadow 0px 0px 0px 1px #cdcdcd
    // &--border-top
    //   border-top 1px solid #a6a6a6
    //   & td:first-of-type
    //     padding-left 25px
    //   & td:last-of-type
    //     padding-right 25px
    // &--border-bottom
    //   border-bottom 1px solid #a6a6a6
  &__image
    height 85px
    width 85px
    padding 10px 10px 10px 15px
    // &--small
    //   text-align center
    //   & img
    //     width 45px
    //     height auto
  // &__data
  //   font-size 13px
  //   padding-top 50px
  //   vertical-align top
  //   width 140px
  //   padding-right 10px
  // &__order-number
  //   font-size 13px
  //   padding-top 50px
  //   vertical-align top
  //   width 100px
  //   padding-right 10px
  // &__order-price
  //   font-size 13px
  //   padding-top 50px
  //   vertical-align top
  //   width 80px
  //   padding-right 10px
  // &__status
  //   font-size 13px
  //   padding-top 50px
  //   vertical-align top
  //   width 120px
  //   padding-right 10px
  // &__btn-more
  //   font-size 13px
  //   vertical-align top
  //   width 216px
  //   padding 30px 0
  // &__to-cart
  //   vertical-align middle
  //   &--padding-right
  //     padding-right 20px
  // &__btn-buy
  //   width 110px
  //   background-color c_orange
  //   color #fff
  //   border-radius 3px
  //   text-align center
  //   padding 7px 10px
  //   box-sizing border-box
  //   font-size 14px
  //   text-decoration none
  //   border 2px solid #f95318
  //   &:hover
  //     background-color #fff
  //     color #f95318
  //     transition all 0.2s ease
  // &__btn-to-cart
  //   width 150px
  //   background-color c_orange
  //   color #fff
  //   border-radius 3px
  //   text-align center
  //   padding 7px 10px
  //   box-sizing border-box
  //   font-size 14px
  //   text-decoration none
  //   border 2px solid #f95318
  //   &:hover
  //     background-color #fff
  //     color #f95318
  //     transition all 0.2s ease
  // &__stars
  //   width 140px
  //   padding-right 10px
  // &__accordion-btn
  //   min-height 40px
  //   text-align center
  //   background-color #fff
  //   border 1px solid #cdcdcd
  //   border-radius 4px
  //   font-size 13px
  //   padding 10px
  //   width 100%
  //   box-sizing border-box
  //   text-decoration none
  //   font-weight normal
  //   font-family r_reg
  //   &::after
  //     content: ''
  //     display inline-block
  //     vertical-align middle
  //     position relative
  //     top 2px
  //     margin-left 5px
  //     border 5px solid transparent
  //     border-top 5px solid #191919
  //   &--active
  //     background-color #e5e5e5
  //     &::after
  //       top -3px
  //       border 5px solid transparent
  //       border-bottom 5px solid #191919
  // &__products
  //   width 153px
  //   padding 30px 0
  //   padding-right 10px
  //   box-sizing border-box
  //   & img
  //     min-width 45px
  //     max-width 52px
  //     height auto
  // &__product-name
  //   min-width 180px
  //   padding-right 10px
  //   .header
  //     width 100%
  //     font-family r_med
  //     font-size 14px
  //     margin-bottom 5px
  &__product
    &-info
      width 300px
      padding-right 5px
      &--small
        width 245px
        padding-left 25px
      &--very-small
        width 220px
        padding-left 0
    &-header
      width 100%
      font-family r_bold
      font-size 14px
      margin-bottom 5px
    &-article
      font-family r_reg
      font-size 12px
      margin-bottom 5px
  &__delivery
    font-size 13px
    line-height 15px
    font-family r_reg
    min-width 187px
    text-transform none
  &__package
    min-width 180px
    padding-right 5px
    box-sizing border-box
    font-family r_reg
    font-size 14px
    line-height 20px
  &__value-wrapper
    min-width 100px
    padding-right 5px
    box-sizing border-box
  &__value
    display inline-block
    position relative
    .input
      height 30px
      width 75px
      border 1px solid c_mgray
      border-radius 3px
      padding 0 30px 0 15px
      box-sizing border-box
      text-align center
      font-family r_bold
      font-size  18px
      &::-webkit-input-placeholder
        color c_black
      &:-moz-placeholder
        color c_black
      &::-moz-placeholder
        color c_black
      &:-ms-input-placeholder
        color c_black
    .arrow
      position absolute
      content ''
      height 28px
      width 30px
      top 1px
      right 1px
      border-radius 0 3px 3px 0
      background-color white
      cursor pointer
      &::before
        position absolute
        content ''
        top 12px
        left 11px
        border 5px solid transparent
        border-top 5px solid c_black
  &__old-price
    padding-right 5px
    box-sizing border-box
    min-width 160px
    text-align right
    font-family r_reg
    font-size 22px
    text-decoration line-through
    color #b9b9b9
  &__unit-price
    padding-right 5px
    box-sizing border-box
    width 100px
    font-family r_reg
    font-size 20px
  &__total-price
    padding-right 34px
    box-sizing border-box
    & .table__price
      font-size 24px
      font-family r_bold
  &__price-wrapper
    padding-right 5px
    box-sizing border-box
    min-width 160px
  &__price
    display block
    font-family r_reg
    font-size 26px
    color c_orange
  &__price-info
    display block
    font-family r_reg
    font-size 10px
  &__remove
    padding 0 15px
    box-sizing border-box
    text-align center
    font-size 20px
    font-weight bold
.cart-final
  margin-bottom 40px
  &__block
    flex 1
    padding 5px 25px
    box-sizing border-box
    border-right 1px solid c_mgray
    &--large
      flex 1.5
    &:last-of-type
      border-right none
  &__price
    line-height 20px
    margin-bottom 20px
    &:last-of-type
      margin-bottom 0
    &-button
      height 55px
      min-width 290px
      font-family r_reg
      font-size 18px
      color white
      background-color c_orange
      border-radius 3px
      border none
      &--transparent
        border 1px solid c_orange
        background-color transparent
        color c_orange
    &-header
      display inline-block
      max-width 50%
      text-align left
      font-family r_reg
      font-size 16px
    &-value
      display inline-block
      font-family r_reg
      font-size 22px
    &-final
      &-value
        display block
        font-family r_med
        font-size 30px
        color c_orange
        margin-bottom 5px
      &-info
        display block
        font-family r_reg
        font-size 10px
    &-clarification
      color c_mgray
      margin-top 10px
      font-size 12px
      line-height 14px
      &-bold
        margin-right 3px
  &__header
    display block
    font-family r_med
    font-size 18px
    margin-bottom 10px
    line-height 20px
  &__text
    font-family r_reg
    font-size 14px
    line-height 20px
  &__subs
    margin 20px 0 10px 0
    &-input
      width 210px
      flex 1
      height 55px
      border-radius 3px
      border 1px solid c_mgray
      padding 0 10px
      box-sizing border-box
      font-family r_reg
      font-size 18px
    &-button
      margin-left 10px
      height 55px
      min-width 140px
      font-family r_reg
      font-size 18px
      color white
      background-color c_mgray
      border-radius 3px
      border none
.stars
  font-family 18px
  .active
    color c_yellow
  .not-active
    color c_gray
