aside.aside-block
    article.aside-special-offers
        img(src="/img/ad-slot1.jpg" alt="#").ad-image
        .aside-special-offers__header.df-c
            .aside-special-offers__percent.df-cc
                span 10%
            .aside-special-offers__text
                span Rabatt
        .aside-special-offers__info
            .aside-special-offers__info-main
                span Auf Ihre Bestellung
            .aside-special-offers__info-text
                span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
    article.aside-blog
        img(src="/img/ad-slot2.jpg" alt="#").aside-blog__image
    article.aside-registration
        .aside-registration__form
            h2.aside-registration__header
                span Angebote & Rabatte sichern!
            .aside-registration__text
                p.
                    Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                    Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                    alles rund um die
            input(type="text" placeholder="E-Mail Adresse hier eingeben").aside-registration__input
            button(type="button").aside-registration__button ABONNIEREN
