section.main-banner
    .main-banner__wrapper
        .main-banner__next-btn
        .main-banner__prev-btn
        ul.main-banner__list
            li.main-banner__element.main-banner__element--backgound1
                .main-banner__text-block.df-cc
                    span.main-banner__best BESTE
                    h1.main-banner__header ANGEBOTE
                    span.main-banner__header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.main-banner__text-big VERSANDKOSTEN SPAREN
                    span.main-banner__text Versandkostenfrei innerhalb Deutchelands ab 30€
            li.main-banner__element.main-banner__element--backgound1
                .main-banner__text-block.df-cc
                    span.main-banner__best BESTE
                    h1.main-banner__header ANGEBOTE
                    span.main-banner__header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.main-banner__text-big VERSANDKOSTEN SPAREN
                    span.main-banner__text Versandkostenfrei innerhalb Deutchelands ab 30€
            li.main-banner__element.main-banner__element--backgound1
                .main-banner__text-block.df-cc
                    span.main-banner__best BESTE
                    h1.main-banner__header ANGEBOTE
                    span.main-banner__header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.main-banner__text-big VERSANDKOSTEN SPAREN
                    span.main-banner__text Versandkostenfrei innerhalb Deutchelands ab 30€
