ul.benefits
    li.benefits__wrapper.df-cc
        .benefits__element
            h6.benefits__header
                span GRATIS VERSAND
            span.benefits__info Versandkosten sparen
    li.benefits__wrapper.df-cc
        .benefits__element
            h6.benefits__header
                span SICHER BEZAHLEN
            span.benefits__info Sicher bezahlen
    li.benefits__wrapper.df-cc
        .benefits__element
            h6.benefits__header
                span LIEFERUNG
            span.benefits__info Fast Quality fersand
    li.benefits__wrapper.df-cc
        .benefits__element
            h6.benefits__header
                span ECO TECHNOLOGY
            span.benefits__info All product sertificatre
article.pet-choice.df-cb
    .pet-choice__block
        h3.pet-choice__header 
          span Hundefutter für jedes Alter
        ul.pet-choice__list.df-c
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Welpen
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Junior
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Adult
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Senior
        h3.pet-choice__header
            span Futter für alle Hunderassen
        ul.pet-choice__list.df-c
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc Small, bis 10 kg
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc Large, ab 26 kg
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc Medium, 11-25 kg
    .pet-choice__block
        h3.pet-choice__header
            span Katzenfutter für jedes Alter
        ul.pet-choice__list.df-c
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Welpen
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Junior
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Adult
            li.pet-choice__item
                a(href="#").pet-choice__link.df-cc  Senior
article.market-brands
    h2.market-brands__header
        span HAUSTIERBEDARF TOP MARKEN
    ul.market-brands__list.df-cb
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands1.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands2.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands3.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands4.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands5.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands6.jpg" alt="#").image
        li
            a(href="#").market-brands__link.df-cc
                img(src="/img/market-brands7.jpg" alt="#").image
