article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Impressum
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span IMPRESSUM
    .static__column
        h3.static__column-header
            span FIRMENSITZ:
        p.static__column-text.
            Geschäftsführer: Vitalij Kungel
        p.static__column-text.
            HRB 175197 B
        p.static__column-text.
            USt-IdNr.: DE 305780777
        p.static__column-text.
            Amtsgericht Berlin (Charlottenburg)
        br
        p.static__column-text.
        br
        p.static__column-text.
            Toptierbedaf GmbH
        p.static__column-text.
            Josef-Orlopp-Straße 55
        p.static__column-text.
            10365 Berlin
        br
        p.static__column-text.
        br
        p.static__column-text.
            E-Mail: info@toptierbedaf.de
        p.static__column-text.
            Web: www.toptierbedaf.de
        p.static__column-text.
            Tel.: +49 30 200 042 082
        br
        p.static__column-text.
        br
        p.static__column-text.
            Plattform der EU-Kommission zur Online-Streitbeilegung: www.ec.europa.eu/consumers/odr
        p.static__column-text.
            Die Webseite der Toptierbedaf GmbH enthalten Hyperlinks auf Webseiten Dritter. Die Toptierbedaf
            GmbH ist für die Inhalte dieser Webseiten, die durch diese Verlinkungen erreicht werden, nicht
        h3.static__column-header
            span HAFTUNGSAUSSCHLUSS:
        h5.static__column-small-header
            span Inhalt des Onlineangebotes
        p.static__column-text.
            Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität
            der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden
            materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen
            Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht
            wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich
            vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und
            unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot
            ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
            zeitweise oder endgültig einzustellen.
        h5.static__column-small-header
            span Verweise und Links
        p.static__column-text.
            Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des
            Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem
            Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich
            und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erklärt
            hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu
            verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder
            die Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb
            distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten,
            die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen
            Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten
            Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige
            Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener
            Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht
            derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
    .static__column
        h5.static__column-small-header
            span Urheber- und Kennzeichenrecht
        p.static__column-text.
            Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken,
            Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente,
            Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und
            Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte
            geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils
            gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein
            aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte
            Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt
            allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente,
            Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne
            ausdrückliche Zustimmung des Autors nicht gestattet.
        h5.static__column-small-header
            span Rechtswirksamkeit dieses Haftungsausschlusses
        p.static__column-text.
            Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf
            diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der
            geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die
            übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
        p.static__column-text.
            Bitte prüfen Sie, ob die über unseren Onlineshop gekaufte Ware auch tatsächlich ihren Wünschen
            entspricht. Gegebenenfalls sind ergänzende Informationen notwendig, um sicherzustellen, dass die
            gewählte Ware auch ihrem Tier passt. Bei Fragen stehen wir Ihnen gerne zur Verfügung.
        .static__blank
            img(src="/img/blank.png" alt="#").image
            ul.static__blank-buttons
                li.static__blank-element
                    a(href="#").static__blank-link.df-cc
                        i.material-icons zoom_in
                li.static__blank-element
                    a(href="#").static__blank-link.df-cc
                        i.material-icons file_download
