article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Newsletter
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span NEWSLETTER
    .static__main-text
        p.
            Abonnieren Sie unseren kostenlosen Newsletter! Lassen Sie sich über Neuheiten, attraktive Angebote
            sowie Tipps zur Ernährung Ihrer Haustiere und vieles mehr informieren! Schnell und einfach den
            Zoobio.de Newsletter abonnieren und einen 10% Rabatt Gutschein für Ihre nächste Bestellung sichern!
            Passen Sie den Newsletter für sich an und wählen Sie die Newsletter-Kategorien für die Sie sich
            interessieren.
article.main-form
    .main-form__columns.df
        .column
            label(for="email").column__label
                span E-Mail-Adresse*
            input(type="text" id="email").column__input
            label(for="vorname").column__label
                span Vorname*
            input(type="text" id="vorname").column__input
        .column
            .main-form__sex.df-c
                span.header Anrede
                input(type="radio" name="sex" id="sex1").input
                label(for="sex1").label
                    span Herr
                input(type="radio" name="sex" id="sex2").input
                label(for="sex2").label
                    span Frau
                input(type="radio" name="sex" id="sex3").input
                label(for="sex3").label
                    span Firma
            label(for="nachname").column__label
                span Nachname*
            input(type="text" id="nachname").column__input
article.static__wrapper-small
    h3.static__column-header
        span INTERESSENGEBIETE:
    .static__wrapper-small__choice.df.dfw
        .main-form__info-mark.df
            input(type="checkbox" id="inter1" name="interrest").input
            label(for="inter1").label
                span Hunde
        .main-form__info-mark.df
            input(type="checkbox" id="inter2" name="interrest").input
            label(for="inter2").label
                span Kleintiere
        .main-form__info-mark.df
            input(type="checkbox" id="inter3" name="interrest").input
            label(for="inter3").label
                span Biofutter für Hunde
        .main-form__info-mark.df
            input(type="checkbox" id="inter4" name="interrest").input
            label(for="inter4").label
                span Katzen
        .main-form__info-mark.df
            input(type="checkbox" id="inter5" name="interrest").input
            label(for="inter5").label
                span Aquaristik
        .main-form__info-mark.df
            input(type="checkbox" id="inter6" name="interrest").input
            label(for="inter6").label
                span Biofutter für Katzen
        .main-form__info-mark.df
            input(type="checkbox" id="inter7" name="interrest").input
            label(for="inter7").label
                span Vogel
        .main-form__info-mark.df
            input(type="checkbox" id="inter8" name="interrest").input
            label(for="inter8").label
                span Pferd
        .main-form__info-mark.df
            input(type="checkbox" id="inter9" name="interrest").input
            label(for="inter9").label
                span Terraristik
article.static__wrapper-med
    .main-form__info-mark.df
        input(type="checkbox" id="info1" name="info").input
        label(for="info1").label
            span Ja, ich möchte per Email informiert werden. Abmeldung jederzeit möglich*
    .main-form__info-mark.df
        input(type="checkbox" id="info2" name="info").input
        label(for="info2").label
            span Erhalten Sie einen 10% Rabatt für das Abonnieren des Newsletters
article.static__wrapper-large
    .newsletter.df-cb
        span.newsletter__label.df-c Newsletter abbestellen
            i.material-icons keyboard_arrow_right
        span.newsletter__info * Pflichtfelder
article.static__wrapper-button
    button(type="button").big-orange-btn ABSENDEN
