.cart1-page
  @import 'cart1-content'

  .main-wrapper
    width 1100px
    margin 0 auto
    padding 0 10px
    margin-top 140px
    display flex
    justify-content space-between
    flex-wrap wrap
  .cart-body
    width 815px
    margin 0 auto
    padding-top 55px
    padding-bottom 250px
