.order
  text-align center
  &__header
    margin-bottom 35px
    font-family r_med
    font-size 24px
  &__image
    display inline-block
    height 60px
    width 75px
    background url("/img/cart.svg") no-repeat center center
    background-size contain
    position relative
    & .material-icons
      position absolute
      content ''
      top -21px
      right -18px
      color c_orange
      font-size 75px
  &__sub-header
    margin 15px 0 30px 0
    font-family r_reg
    font-size 24px
  &__info
    text-align center
    font-family r_reg
    font-size 16px
    &-text
      display block
      margin-bottom 20px
  &__number
    font-family r_reg
    font-size 24px
    color c_orange
    text-decoration underline
    margin-bottom 50px
  &__text
    display inline-block
    border-top 1px solid c_lgray
    font-family r_reg
    font-size 14px
    line-height 25px
