header.header-main
    .main-wrapper.df-c.h100p
        article.main-logo
            a(href="#")
                img(src="/img/logo.png" alt="#").image
        article.header-main__contacts.df-cc
            .header-main__contacts-image.df-cc
                i.material-icons phone
            .header-main__contacts-number
                span +49 30 208 476 906
            .header-main__contacts-time
                span Mo - Fr 9:00 - 18:00 Uhr
        article.header-main__account
            a(href="#").header-main__account-image
        article.header-main__wishlist
            a(href="#").header-main__wishlist-image
        article.header-main__cart
            a(href="#").df-c
                .header-main__cart-image
                span.header-main__cart-price €12.00
