.category3-page
  @import 'aside'
  @import 'category3-content'
  @import 'main-promo'

  .main-wrapper
    width 1100px
    margin 0 auto
    padding 0 10px
    margin-top 140px
    display flex
    justify-content space-between
    flex-wrap wrap

  .main-block
    width 785px
