/***************************************************************
***
***    COMMON MODIFIERS
***
***************************************************************/

.hidden
  display: none!important

.body--margin
  margin-top 138px

.big-orange-btn--invert
  color c_orange
  background-color white
  border 2px solid c_orange
  border-radius 3px
  transition all .2s ease
  &:hover
    background-color c_orange
    color white
