/***************************************************************
***
***    VARIABLES AND COLORS
***
***************************************************************/

//--------------------
// Main Colors
//--------------------

c_orange  = #f95318
c_lgray   = #ececed
c_mgray   = #b9b9b9
c_gray    = #777
c_black   = #191919
c_yellow  = #ffcc04
c_bgreen  = #18f958
c_green   = #008c28
c_bblue   = #18c1f9


//--------------------
// Main Fonts
//--------------------

r_reg     = "Roboto-Regular", sans-serif
r_thin    = "Roboto-Thin", sans-serif
r_thinit  = "Roboto-ThinItalic", sans-serif
r_med     = "Roboto-Medium", sans-serif
r_medit   = "Roboto-MediumItalic", sans-serif
r_light   = "Roboto-Light", sans-serif
r_lightit = "Roboto-LightItalic", sans-serif
r_bold    = "Roboto-Bold", sans-serif
r_boldit  = "Roboto-BoldItalic", sans-serif
r_black   = "Roboto-Black", sans-serif
r_blackit = "Roboto-BlackItalic", sans-serif
r_it      = "Roboto-Italic", sans-serif