footer.footer-main
    .main-wrapper.df
        article.footer-main__column
            h3.footer-main__header
                span KUNDENSERVICE
            ul.footer-main__list
                li.footer-main__item
                    a(href="#").footer-main__link Registrieren
                li.footer-main__item
                    a(href="#").footer-main__link Kontakt
                li.footer-main__item
                    a(href="#").footer-main__link Versand
                li.footer-main__item
                    a(href="#").footer-main__link Zahlung
                li.footer-main__item
                    a(href="#").footer-main__link Widerruf
                li.footer-main__item
                    a(href="#").footer-main__link FAQ
        article.footer-main__column
            h3.footer-main__header
                span ÜBER ZOOBOOM
            ul.footer-main__list
                li.footer-main__item
                    a(href="#").footer-main__link Impressum
                li.footer-main__item
                    a(href="#").footer-main__link AGB
                li.footer-main__item
                    a(href="#").footer-main__link Datenschutz
                li.footer-main__item
                    a(href="#").footer-main__link Newsletter
                li.footer-main__item
                    a(href="#").footer-main__link Blog
                li.footer-main__item
                    a(href="#").footer-main__link Partnerprogramm
        article.footer-main__column
            h3.footer-main__header
                span SICHER EINKAUFEN
            ul.footer-main__list
                li.footer-main__item.footer-main__item--marked
                    i.material-icons done
                    a(href="#").footer-main__link Schneller Versand
                li.footer-main__item.footer-main__item--marked
                    i.material-icons done
                    a(href="#").footer-main__link Käuferschutz
                li.footer-main__item.footer-main__item--marked
                    i.material-icons done
                    a(href="#").footer-main__link Datenschutz
                li.footer-main__item.footer-main__item--marked
                    i.material-icons done
                    a(href="#").footer-main__link Sichere Zahlung mit SSL-Ver­schlüs­se­lung
                li.footer-main__item.footer-main__item--marked
                    i.material-icons done
                    a(href="#").footer-main__link Günstige Preise
        article.footer-main__label-column
            a(href="#").footer-main__logo
                img(src="/img/logo-white.png" alt="#").image
            h3.footer-main__header
                span Folge auf
            ul.footer-main__social
                li.footer-main__social-item
                    a(href="#").footer-main__social-link.df-cc
                        img(src="/img/facebook.png" alt="#").image
                li.footer-main__social-item
                    a(href="#").footer-main__social-link.df-cc
                        img(src="/img/twitter.png" alt="#").image
                li.footer-main__social-item
                    a(href="#").footer-main__social-link.df-cc
                        img(src="/img/linked-in.png" alt="#").image
            .footer-main__delivery.df-c
                a(href="#").footer-main__delivery-element.df-cc
                    img(src="/img/dhl.png" alt="#").image
                a(href="#").footer-main__delivery-element.df-cc
                    img(src="/img/dhl-pack.png" alt="#").image
section.footer-main__info
    .main-wrapper.h100p.df-c
        article.footer-main__language.df-c
            span Sprache
            img(src="/img/flags/deu.png" alt="#").footer-main__language-image.image
        article.footer-main__information
            span © 2016, Haustierbedarf Zoobio Online Shop für Tierbedarf & Tierfutter
        article.footer-main__payment-links.df-c
            a(href="#").footer-main__payment-image
                img(src="/img/visa.png" alt="#").image
            a(href="#").footer-main__payment-image
                img(src="/img/mastercard.png" alt="#").image
            a(href="#").footer-main__payment-image
                img(src="/img/paypal.png" alt="#").image
