section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") FAQ
        article.static-wrapper.df--b.dfw
            h1.static-header
                span FAQ
        article.static-wrapper-med
            ul.links-block.df--b.dfw
                li.link-wrapper
                    a(href="#").link SUCHE, BESTELLUNG UND WARENBEZAHLUNG
                li.link-wrapper
                    a(href="#").link RABATTE, AKTIONEN UND ANGEBOTE
                li.link-wrapper
                    a(href="#").link VERSAND – BEDINGUNGEN UND LIEFERZEIT
                li.link-wrapper
                    a(href="#").link RÜCKVERSAND
                li.link-wrapper
                    a(href="#").link WIDERRUF ODER
                li.link-wrapper
                    a(href="#").link KUNDENSERVICE
        ul.sub-info-block
            li.sub-info-block__element
                .sub-info-block__header.df-c
                    .sub-info-block__arrow.df-cc
                        i.material-icons arrow_drop_down
                    h3.sub-info-block__font WIE KANN ICH DAS BENÖTIGTE PRODUKT AUF DER SEITE FINDEN?
                .sub-info-block__text
                    p.
                        Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                        unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
            li.sub-info-block__element
                .sub-info-block__header.df-c
                    .sub-info-block__arrow.df-cc
                        i.material-icons arrow_drop_down
                    h3.sub-info-block__font WIE BESTELLT MAN?
                .sub-info-block__text
                    p.
                        Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                        unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
            li.sub-info-block__element
                .sub-info-block__header.df-c
                    .sub-info-block__arrow.df-cc
                        i.material-icons arrow_drop_down
                    h3.sub-info-block__font WIE KANN ICH DIE BESTELLUNG BEZAHLEN?
                .sub-info-block__text
                    p.
                        Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                        unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
            li.sub-info-block__element
                .sub-info-block__header.df-c
                    .sub-info-block__arrow.df-cc
                        i.material-icons arrow_drop_down
                    h3.sub-info-block__font GIBT ES EINEN MINDESTBESTELLWERT ODER MAXIMALEN BESTELLWERT?
                .sub-info-block__text
                    p.
                        Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                        unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
            li.sub-info-block__element
                .sub-info-block__header.df-c
                    .sub-info-block__arrow.df-cc
                        i.material-icons arrow_drop_down
                    h3.sub-info-block__font BEKOMME ICH EINE BESTELLBESTÄTIGUNG?
                .sub-info-block__text
                    p.
                        Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                        unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
        article.static-wrapper-inform
            p.
                Falls Sie die Antwort auf Ihre Frage nicht gefunden haben, rufen Sie uns bitte an oder schreiben Sie uns
                eine E-Mail
        article.static-wrapper-button-invert
            button(type="button").big-orange-btn.big-orange-btn--invert ABSENDEN