section.main-block
    article.brand-sort
        h3.brand-sort__header
            span HAUSTIERSHOP MARKENWELT FÜR IHR HAUSTIER
        .brand-sort__text
            p.
                Zoobio ist ständig auf der Suche nach TOP Produkten für Ihre Haustiere. Derzeit haben Sie als
                Tierliebhaber eine Auswahl an 346 Marken in unserem Haustiershop. Entdecken Sie die zahlreichen
                Tierbedarf Produkte für Hunde, Katzen, Pferde, Vögel, Kleintiere und Fische. Wählen eine der
                gelisteten Marken für Ihren Tierbedarf aus.
        h4.brand-sort__search-header
            span Marke der Haustierprodukte finden
        .brand-sort__search-block.df
            input(type="text" placeholder="Marke sutchen").brand-sort__input
            button(type="button").brand-sort__button SUTCHEN
        .brand-sort__letter.df-cb
            a(href="#").brand-sort__letter-link #
            a(href="#").brand-sort__letter-link A
            a(href="#").brand-sort__letter-link B
            a(href="#").brand-sort__letter-link C
            a(href="#").brand-sort__letter-link D
            a(href="#").brand-sort__letter-link E
            a(href="#").brand-sort__letter-link F
            a(href="#").brand-sort__letter-link G
            a(href="#").brand-sort__letter-link H
            a(href="#").brand-sort__letter-link I
            a(href="#").brand-sort__letter-link G
            a(href="#").brand-sort__letter-link K
            a(href="#").brand-sort__letter-link L
            a(href="#").brand-sort__letter-link M
            a(href="#").brand-sort__letter-link N
            a(href="#").brand-sort__letter-link O
            a(href="#").brand-sort__letter-link P
            a(href="#").brand-sort__letter-link Q
            a(href="#").brand-sort__letter-link R
            a(href="#").brand-sort__letter-link S
            a(href="#").brand-sort__letter-link T
            a(href="#").brand-sort__letter-link U
            a(href="#").brand-sort__letter-link V
            a(href="#").brand-sort__letter-link W
            a(href="#").brand-sort__letter-link X
            a(href="#").brand-sort__letter-link Y
            a(href="#").brand-sort__letter-link Z
    article.brand-sort__brands
        .brand-sort__brands-letter
            span #
        ul.brand-sort__list.df.dfw
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/8in1.png" alt="#").image
                .brand-sort__name
                    span 8 in 1
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/4cats.png" alt="#").image
                .brand-sort__name
                    span 4 CATS
                button(type="buttom").brand-sort__list-button Detail
    article.brand-sort__brands
        .brand-sort__brands-letter
            span A
        ul.brand-sort__list.df.dfw
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/adaptil.png" alt="#").image
                .brand-sort__name
                    span ADAPTIL
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alkote.png" alt="#").image
                .brand-sort__name
                    span AL-KO-TE
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/allco.png" alt="#").image
                .brand-sort__name
                    span ALLCO
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/almonature.png" alt="#").image
                .brand-sort__name
                    span ALMO NATURE
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alphaspirit.png" alt="#").image
                .brand-sort__name
                    span ALPHA SPIRIT
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animallovers.png" alt="#").image
                .brand-sort__name
                    span ANIMAL LOVERS
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animonda.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/carny.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA CARNY
                button(type="buttom").brand-sort__list-button Detail
    article.brand-sort__brands
        .brand-sort__brands-letter
            span B
        ul.brand-sort__list.df.dfw
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animonda.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/carny.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA CARNY
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alphaspirit.png" alt="#").image
                .brand-sort__name
                    span ALPHA SPIRIT
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animallovers.png" alt="#").image
                .brand-sort__name
                    span ANIMAL LOVERS
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/adaptil.png" alt="#").image
                .brand-sort__name
                    span ADAPTIL
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alkote.png" alt="#").image
                .brand-sort__name
                    span AL-KO-TE
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/allco.png" alt="#").image
                .brand-sort__name
                    span ALLCO
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/almonature.png" alt="#").image
                .brand-sort__name
                    span ALMO NATURE
                button(type="buttom").brand-sort__list-button Detail
    article.brand-sort__brands
        .brand-sort__brands-letter
            span C
        ul.brand-sort__list.df.dfw
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/allco.png" alt="#").image
                .brand-sort__name
                    span ALLCO
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/almonature.png" alt="#").image
                .brand-sort__name
                    span ALMO NATURE
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animonda.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/carny.png" alt="#").image
                .brand-sort__name
                    span ANIMONDA CARNY
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alphaspirit.png" alt="#").image
                .brand-sort__name
                    span ALPHA SPIRIT
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/animallovers.png" alt="#").image
                .brand-sort__name
                    span ANIMAL LOVERS
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/adaptil.png" alt="#").image
                .brand-sort__name
                    span ADAPTIL
                button(type="buttom").brand-sort__list-button Detail
            li.brand-sort__element.df-cb.df-dc
                .brand-sort__image.df-cc
                    img(src="/img/brands/alkote.png" alt="#").image
                .brand-sort__name
                    span AL-KO-TE
                button(type="buttom").brand-sort__list-button Detail
    .brand-sort__more.df-cc
        button(type="button").brand-sort__more-button MEHER
