.main-body
    .main-wrapper.main-menu-margin.df--b.dfw
        aside.aside-block
            ul.aside-nav
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header HUNDESHOP
                        .main-arrow.hidden
                    ul.aside-nav-sub
                        li.aside-nav-sub__element
                            a(href="#") Hundefutter
                        li.aside-nav-sub__element
                            a(href="#") Hundeboxen & Autozubehör
                        li.aside-nav-sub__element
                            a(href="#") Hundeschlafplatz
                        li.aside-nav-sub__element
                            a(href="#") Training & Hundesportartikel
                        li.aside-nav-sub__element
                            a(href="#") Leinen & Halsbänder
                        li.aside-nav-sub__element
                            a(href="#") Hundespielzeug
                        li.aside-nav-sub__element
                            a(href="#")
                                span Alle
                                .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header KATZENSHOP
                        .main-arrow.hidden
                    ul.aside-nav-sub
                        li.aside-nav-sub__element
                            a(href="#") Katzenfutter
                        li.aside-nav-sub__element
                            a(href="#") Tränken & Fressnäpfe
                        li.aside-nav-sub__element
                            a(href="#") Kratzbaum & Kratzmöbel
                        li.aside-nav-sub__element
                            a(href="#") Katzen Schlafplatz
                        li.aside-nav-sub__element
                            a(href="#") Pflege und Hygieneartikel
                        li.aside-nav-sub__element
                            a(href="#") Transportzubehör
                        li.aside-nav-sub__element
                            a(href="#")
                                span Alle
                                .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header VOGELSHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header KLEINTIER SHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header AQUARIUM SHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header PFERDESHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header TERRARISTIK SHOP
                        .main-arrow
            article.products__ad
                img(src="/img/ad-slot1.jpg" alt="#").ad-image
                .header.df-c
                    .percent.df-cc
                        span 10%
                    h2.text
                        span Rabatt
                .info
                    .info__main
                        span Auf Ihre Bestellung
                    .info__text
                        span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
            article.products__ad
                .ad-form
                    h2.ad-form__header
                        span Angebote & Rabatte sichern!
                    .ad-form__text
                        p.
                            Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                            Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                            alles rund um die
                    input(type="text" placeholder="E-Mail Adresse hier eingeben").ad-form__input
                    button(type="button").ad-form__button ABONNIEREN
        section.main-block
            article.brand-sort
                h3.brand-sort__header
                    span HAUSTIERSHOP MARKENWELT FÜR IHR HAUSTIER
                .brand-sort__text
                    p.
                        Zoobio ist ständig auf der Suche nach TOP Produkten für Ihre Haustiere. Derzeit haben Sie als
                        Tierliebhaber eine Auswahl an 346 Marken in unserem Haustiershop. Entdecken Sie die zahlreichen
                        Tierbedarf Produkte für Hunde, Katzen, Pferde, Vögel, Kleintiere und Fische. Wählen eine der
                        gelisteten Marken für Ihren Tierbedarf aus.
                h4.brand-sort__search-header
                    span Marke der Haustierprodukte finden
                .brand-sort__search-block.df
                    input(type="text" placeholder="Marke sutchen").brand-sort__input
                    button(type="button").brand-sort__button SUTCHEN
                .brand-sort__letter.df-cb
                    a(href="#") #
                    a(href="#") A
                    a(href="#") B
                    a(href="#") C
                    a(href="#") D
                    a(href="#") E
                    a(href="#") F
                    a(href="#") G
                    a(href="#") H
                    a(href="#") I
                    a(href="#") G
                    a(href="#") K
                    a(href="#") L
                    a(href="#") M
                    a(href="#") N
                    a(href="#") O
                    a(href="#") P
                    a(href="#") Q
                    a(href="#") R
                    a(href="#") S
                    a(href="#") T
                    a(href="#") U
                    a(href="#") V
                    a(href="#") W
                    a(href="#") X
                    a(href="#") Y
                    a(href="#") Z
            article.brand-sort__brands
                .brand-sort__brands-letter
                    span #
                ul.brand-sort__list.df.dfw
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/8in1.png" alt="#").image
                        .brand-sort__name
                            span 8 in 1
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/4cats.png" alt="#").image
                        .brand-sort__name
                            span 4 CATS
                        button(type="buttom").brand-sort__list-button Detail
            article.brand-sort__brands
                .brand-sort__brands-letter
                    span A
                ul.brand-sort__list.df.dfw
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/adaptil.png" alt="#").image
                        .brand-sort__name
                            span ADAPTIL
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alkote.png" alt="#").image
                        .brand-sort__name
                            span AL-KO-TE
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/allco.png" alt="#").image
                        .brand-sort__name
                            span ALLCO
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/almonature.png" alt="#").image
                        .brand-sort__name
                            span ALMO NATURE
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alphaspirit.png" alt="#").image
                        .brand-sort__name
                            span ALPHA SPIRIT
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animallovers.png" alt="#").image
                        .brand-sort__name
                            span ANIMAL LOVERS
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animonda.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/carny.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA CARNY
                        button(type="buttom").brand-sort__list-button Detail
            article.brand-sort__brands
                .brand-sort__brands-letter
                    span B
                ul.brand-sort__list.df.dfw
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animonda.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/carny.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA CARNY
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alphaspirit.png" alt="#").image
                        .brand-sort__name
                            span ALPHA SPIRIT
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animallovers.png" alt="#").image
                        .brand-sort__name
                            span ANIMAL LOVERS
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/adaptil.png" alt="#").image
                        .brand-sort__name
                            span ADAPTIL
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alkote.png" alt="#").image
                        .brand-sort__name
                            span AL-KO-TE
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/allco.png" alt="#").image
                        .brand-sort__name
                            span ALLCO
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/almonature.png" alt="#").image
                        .brand-sort__name
                            span ALMO NATURE
                        button(type="buttom").brand-sort__list-button Detail
            article.brand-sort__brands
                .brand-sort__brands-letter
                    span C
                ul.brand-sort__list.df.dfw
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/allco.png" alt="#").image
                        .brand-sort__name
                            span ALLCO
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/almonature.png" alt="#").image
                        .brand-sort__name
                            span ALMO NATURE
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animonda.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/carny.png" alt="#").image
                        .brand-sort__name
                            span ANIMONDA CARNY
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alphaspirit.png" alt="#").image
                        .brand-sort__name
                            span ALPHA SPIRIT
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/animallovers.png" alt="#").image
                        .brand-sort__name
                            span ANIMAL LOVERS
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/adaptil.png" alt="#").image
                        .brand-sort__name
                            span ADAPTIL
                        button(type="buttom").brand-sort__list-button Detail
                    li.brand-sort__element.df-cb.df-dc
                        .brand-sort__image.df-cc
                            img(src="/img/brands/alkote.png" alt="#").image
                        .brand-sort__name
                            span AL-KO-TE
                        button(type="buttom").brand-sort__list-button Detail
            article.brand-sort__more.df-cc
                button(type="button").brand-sort__more-button MEHER
