article.breadcrumbs
    ul.breadcrumbs__list
        li: a(href="#") Home
        li: a(href="#") FAQ
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span FAQ
article.faq
    ul.faq__nav.df--b.dfw
        li.faq__item
            a(href="#").faq__link SUCHE, BESTELLUNG UND WARENBEZAHLUNG
        li.faq__item
            a(href="#").faq__link RABATTE, AKTIONEN UND ANGEBOTE
        li.faq__item
            a(href="#").faq__link VERSAND – BEDINGUNGEN UND LIEFERZEIT
        li.faq__item
            a(href="#").faq__link RÜCKVERSAND
        li.faq__item
            a(href="#").faq__link WIDERRUF ODER
        li.faq__item
            a(href="#").faq__link KUNDENSERVICE
ul.faq-drop
    li.faq-drop__element
        .faq-drop__header.df-c
            .faq-drop__arrow.df-cc
                i.material-icons arrow_drop_down
            h3.faq-drop__header-text WIE KANN ICH DAS BENÖTIGTE PRODUKT AUF DER SEITE FINDEN?
        .faq-drop__text
            p.
                Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
    li.faq-drop__element
        .faq-drop__header.df-c
            .faq-drop__arrow.df-cc
                i.material-icons arrow_drop_down
            h3.faq-drop__header-text WIE BESTELLT MAN?
        .faq-drop__text
            p.
                Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
    li.faq-drop__element
        .faq-drop__header.df-c
            .faq-drop__arrow.df-cc
                i.material-icons arrow_drop_down
            h3.faq-drop__header-text WIE KANN ICH DIE BESTELLUNG BEZAHLEN?
        .faq-drop__text
            p.
                Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
    li.faq-drop__element
        .faq-drop__header.df-c
            .faq-drop__arrow.df-cc
                i.material-icons arrow_drop_down
            h3.faq-drop__header-text GIBT ES EINEN MINDESTBESTELLWERT ODER MAXIMALEN BESTELLWERT?
        .faq-drop__text
            p.
                Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
    li.faq-drop__element
        .faq-drop__header.df-c
            .faq-drop__arrow.df-cc
                i.material-icons arrow_drop_down
            h3.faq-drop__header-text BEKOMME ICH EINE BESTELLBESTÄTIGUNG?
        .faq-drop__text
            p.
                Einfach die gesuchte Ware oder das Schlagwort ins Suchfeld eintragen. Sie können sich auch in
                unserem Shop umschauen, indem Sie das gewünschte Tier auswählen.
article.faq-inform
    p.faq-inform__text.
        Falls Sie die Antwort auf Ihre Frage nicht gefunden haben, rufen Sie uns bitte an oder schreiben Sie uns
        eine E-Mail
    button(type="button").faq-inform__button.big-orange-btn.big-orange-btn--invert ABSENDEN
