section.main-body.body--margin
    .main-wrapper
        .account-page.df
            aside.account-menu
              ul.account-menu__list
                li.account-menu__item
                  a(href="#").account-menu__link Bestellungen  verwalten
                li.account-menu__item
                  a(href="#").account-menu__link Zahlungsart
                li.account-menu__item
                  a(href="#").account-menu__link Lieferadresse
                li.account-menu__item
                  a(href="#").account-menu__link Meine Daten
                li.account-menu__item
                  a(href="#").account-menu__link Zuletzt gesehene  Artikel
                li.account-menu__item
                  a(href="#").account-menu__link.account-menu__link--active Wunschliste
            .account-main-content.account-main-content--wide.df.df-dc
                h1.account__header
                    span MEIN KONTO
                article.account__ordering-block
                    h2.title-with-stripe
                        span Wunschliste
                    .account__form-table
                        .account__orders.cart-table.cart-table--transparent
                            table.table
                                tr.table__header.table__header--black-color
                                    th(colspan="2") Artikel
                                    th Lieferzeit
                                    th Mehr
                                    th(colspan="2") Einzelpreis
                                tr.table__content.table__content--border-bottom 
                                    td.table__image
                                        img(src="/img/product5.png" alt="#").image
                                    td.table__product-info.table__product-info--very-small 
                                        h3.header
                                            span Brit JUNIOR LARGE BREED 
                                        .article
                                            span Getreidefrei Lachs & Kartoffel 1kg
                                        .stars.df-c
                                            .active
                                                span ★★
                                            .not-active
                                                span ☆☆☆
                                    td.table__packedge
                                        span Sofort versandfertig, Lieferzeit ca.
                                        span 1-3 Werktage
                                    td.table__value-wrapper
                                        .table__value
                                            input(type="text" placeholder="2").input
                                            .arrow
                                    td.table__unit-price
                                        span €12.00
                                    td.table__to-cart.t-ar
                                        button(type="button").table__btn-buy Kaufen
                                    
                                tr.table__content
                                    td.table__image
                                        img(src="/img/product5.png" alt="#").image
                                    td.table__product-info.table__product-info--very-small
                                        h3.header
                                            span Brit JUNIOR LARGE BREED 
                                        .article
                                            span Getreidefrei Lachs & Kartoffel 1kg
                                        .stars.df-c
                                            .active
                                                span ★★
                                            .not-active
                                                span ☆☆☆
                                    td.table__packedge
                                        span Sofort versandfertig, Lieferzeit ca.
                                        span 1-3 Werktage
                                    td.table__value-wrapper
                                        .table__value
                                            input(type="text" placeholder="2").input
                                            .arrow
                                    td.table__unit-price
                                        span €12.00
                                    td.table__to-cart.t-ar
                                        button(type="button").table__btn-buy Kaufen
                                    
