section.main-body.body--margin
    .main-wrapper
        .account-page.df
            aside.account-menu
              ul.account-menu__list
                li.account-menu__item
                  a(href="#").account-menu__link Bestellungen  verwalten
                li.account-menu__item
                  a(href="#").account-menu__link Zahlungsart
                li.account-menu__item
                  a(href="#").account-menu__link Lieferadresse
                li.account-menu__item
                  a(href="#").account-menu__link.account-menu__link--active Meine Daten
                li.account-menu__item
                  a(href="#").account-menu__link Zuletzt gesehene  Artikel
                li.account-menu__item
                  a(href="#").account-menu__link Wunschliste
            .account-main-content.account-main-content--full-width
                h1.account__header
                    span MEIN KONTO
                article.account__ordering-block
                    h2.title-with-stripe
                        span Lieferadresse
                    .account__form-table
                        .account__block-header
                            span Bearbeiten
                        .delivery.account__wrapper

                            ul.delivery__list
                                li.delivery__item
                                    label(for="address1").delivery__label.df-cb
                                        .delivery__left-block.df-cb
                                            input(type="radio" name="address" id="address1").input-radio-red
                                            .delivery__address
                                                p.text
                                                    |Asfesdfg, 21.
                                                    br
                                                    |Portugal fsd, 1000-001 
                                        .delivery__right-block.df-cb
                                            span.delivery__btn Wahlen
                                            a(href="#"): i.material-icons close
                .form-block__element.form-block__element--full-width
                  .forms.forms--transparent-wide
                    .main-form__columns.df.dfw
                        .column
                            .main-form__sex.main-form__sex--column.df-c
                                span.header Anrede*
                                input(type="radio" name="sex" id="sex1").input
                                label(for="sex1").label
                                    span Herr
                                input(type="radio" name="sex" id="sex2").input
                                label(for="sex2").label
                                    span Frau
                                input(type="radio" name="sex" id="sex3").input
                                label(for="sex3").label
                                    span Firma
                                  
                            label(for="vorname").column__label
                                span Vorname*
                            input(type="text" id="vorname").forms__input.forms__input--gray
                            label(for="nachname").column__label
                                span Nachname*
                            input(type="text" id="nachname").forms__input.forms__input--gray
                            label(for="firma").column__label
                                span Firma*
                            input(type="text" id="firma").forms__input.forms__input--gray
                            label(for="ust").column__label
                                span USt-IdNr.*
                            .select-wrapper.df
                                select.js-cart-select2
                                    option
                                    option
                                    option
                                        span: img(src="/img/flags/deu.png").image
                                input(type="text" id="telefon").column__input-small.forms__input--gray
                            label(for="strabe").column__label
                                span Straße*
                            input(type="text" id="strabe").forms__input.forms__input--gray
                            
                            
                            
                        .column
                            label(for="adresszusatz").column__label
                                span Adresszusatz
                            input(type="text" id="adresszusatz").forms__input.forms__input--gray
                            label(for="hausnummer").column__label
                                span Hausnr.*
                            input(type="text" id="hausnummer").forms__input.forms__input--gray
                            label(for="postleitzahl").column__label
                                span Postleitzahl*
                            input(type="text" id="postleitzahl").forms__input.forms__input--gray
                            label(for="stadt").column__label
                                span Stadt*
                            input(type="text" id="stadt").forms__input.forms__input--gray
                            label(for="land").column__label
                                span Land*
                            select.column__select.column__select--gray.js-cart-select
                                option Deutschland
                                option Ukraine
                                option Something
                            label(for="telefon").column__label.w100p
                                span Telefon*
                            .select-wrapper.df
                                select.js-cart-select3
                                    option
                                    option
                                    option
                                        span: img(src="/img/flags/deu.png").image
                                .column__input-pre.df-cc
                                    span +049
                                input(type="text" id="telefon").column__input-small.forms__input--gray
                            
                        .main-form__submit-block.df-ce
                            button(type="submit").big-orange-btn Senden
                .account__form-table
                    .account__wrapper
                        a(href="#").account__add-address 
                            span Eine neue Lieferadresse hinzufügen
                            i.material-icons add_circle_outline
            
