article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Widerruf
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span WIDERRUF
    .static__column
        p.static__column-text.
            Widerrufsrecht für Verbraucher (Auszug aus unseren AGB)
        p.static__column-text.
            (Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die
            überwiegend weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet
            werden können.)
        h2.static__column-header
            span WIDERRUFSBELEHRUNG:
        h5.static__column-header-small
            span Widerrufsrecht
        p.static__column-text.
            Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die
            Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter,
            der nicht der Beförderer ist, die letzte Ware in Besitz genommen haben bzw. hat.
        p.static__column-text.
            Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Zoobio GmbH, Josef-Orlopp-Straße 55, 10365 Berlin,
            Deutschland, Tel.: +49 (030) 200 042 082 E-Mail-Adresse: info@zoobio.de) mittels einer eindeutigen
            Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss,
            diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular
            verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass
            Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ab- lauf der Widerrufsfrist absenden.
        h2.static__column-header
            span FOLGEN DES WIDERRUFS:
        p.static__column-text.
            Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten
            haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus
            ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste
            Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag
            zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist.
            Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen
            Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart;
            in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
    .static__column
        h2.static__column-header
            span AUSNAHMEN VOM WIDERRUFSRECHT:
        p.static__column-text.
            Es existieren gesetzliche Ausnahmen vom Widerrufsrecht (§ 312g BGB), wobei wir uns vorbehalten, uns
            Ihnen gegenüber auf folgende Regelungen zu berufen: Ein Widerrufsrecht besteht nicht bei Verträgen
            zur Lieferung von Waren, die nicht vorgefertigt sind und für deren Herstellung eine individuelle
            Auswahl oder Bestimmung durch den Verbraucher maßgeblich ist oder die eindeutig auf die persönlichen
            Bedürfnisse des Verbrauchers zugeschnitten sind.
        p.static__column-text.
            Ein Widerrufsrecht besteht nicht bei Lieferung von Waren, wenn diese nach der Lieferung auf Grund
            ihrer Beschaffenheit untrennbar mit anderen Gütern vermischt wurden.
        h2.static__column-header
            span MUSTER-WIDERRUFSFORMULAR
        p.static__column-text.
            (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es
            zurück.)
        p.static__column-text.
            - An: Zoobio GmbH, Josef-Orlopp-Straße 55, 10365 Berlin, Deutschland, Telefaxnummer: +49 (030) 200
            042 082 , E-Mail-Adresse: info@zoobio.de
        p.static__column-text.
            - Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der
            folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*)
        p.static__column-text.
            - Bestellt am (*)/erhalten am (*)
        p.static__column-text.
            - Name des/der Verbraucher(s)
        p.static__column-text.
            - Anschrift des/der Verbraucher(s)
        p.static__column-text.
            - Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
        p.static__column-text.
            - Datum
        p.static__column-text.static__column-text--border-bottom.
            (*) Unzutreffendes streichen.
