section.main-block
    article.breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
            li.breadcrumbs__item: a(href="#").breadcrumbs__link Hund
    article.oshop-block
        h3.oshop-block__header
            span HUNDEBEDARF & ZUBEHÖR ONLINE SHOP
        .oshop-block__text
            p.
                Ein Hund ist der beste Freund und beste Freunde verdienen nur das Beste. Zoobio bietet Ihrem
                Haustier alles was das Hunde Herz begehrt. Hunde benötigen viel Pflege, eine artgerechte
                Ernährung und viel Bewegung. Im Zoobio Hundeshop finden Sie alle Produkte für den Hundebedarf
                von TOP Marken zu günstigen Preisen. Entdecken Sie unser vielfältiges Hundefutter Sortiment und
                tolle Zubehör Artikel.
    article.tabs-block
        h3.tabs-block__header
            span HUNDESHOP SORTIMENT AUSWAHL
        ul.tabs-block__list.df--b.dfw
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab1.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDESPIELZEUG
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab2.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDEBOXEN & AUTOZUBEHÖR
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab3.png" alt="#")
                    .tabs-block__text.df-c
                        span NAPF & TRÄNKE
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab4.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDEPFLEGE & HYGIENE
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab5.png" alt="#")
                    .tabs-block__text.df-c
                        span TRAINING & HUNDESPORTARTIKEL
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab6.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDEHÜTTE & FREILAUF
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab7.png" alt="#")
                    .tabs-block__text.df-c
                        span LEINEN & HALSBÄNDER
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab8.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDESCHLAFPLATZ
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab9.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDEBEKLEIDUNG
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab10.png" alt="#")
                    .tabs-block__text.df-c
                        span JUNGE HUNDE & WELPENARTIKEL
            li.tabs-block__item
                a(href="#").tabs-block__link
                    img(src="/img/tab11.png" alt="#")
                    .tabs-block__text.df-c
                        span HUNDEFUTTER
    article.market-brands
        h2.market-brands__header
            span HAUSTIERBEDARF TOP MARKEN
        ul.market-brands__list.df-cb
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands1.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands2.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands3.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands4.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands5.jpg" alt="#").image
    article.main-block__separator
    article.products-main.dfw
        .products-main__prev.df-cc
            i.material-icons keyboard_arrow_left
        .products-main__next.df-cc
            i.material-icons keyboard_arrow_right
        h3.products-main__header
            span 8IN1 HAUSTIERBEDARF ONLINE SHOP
        .products-main__content.df
            ul.products-main__list.df--b.dfw
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .new-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                          span NATURAL
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product4.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .new-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product4.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
    article.main-block__sub-info
        p
        |    * Preise inkl. gesetzlicher MwSt. zzgl.&ensp;
        a(href="#").main-block__sub-info-link Versand
