article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item  
            a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item  
            a(href="#").breadcrumbs__link Partnerprogramm
h1.static__main-header
    span PARTNERPROGRAMM
section.pics-block
    .pics-block__wrapper.df
        .pics-block__text
            h3.pics-block__header
                span.pics-block__header-element MIT TOPTIERBEDAF
                span.pics-block__header-element PARTNERPROGRAMM BIS ZU
            .pics-block__info
                p.
                    Verdienen Sie Geld durch den Verkauf von Tierfutter und Zubehör Artikel. Dazu müssen Sie es
                    nicht einmal selber verkaufen.
            .pics-block__info
                p.
                    Ihre Webseite darf auch thematisch abweichen. Werden Sie Partner von Zoobio.de und erhalten Sie
                    10 % von jedem vermittelten Verkauf aus unserem Shop. Wir sind eines der schnellwachsenden
                    Anbieter in Europa!
            .pics-block__info
                p.
                    In wenigen Klicks ist die Registrierung im Partnerprogramm abgeschlossen, wir erheben keine
                    persönliche Daten oder irgendwelche finanzielle Informationen. Es sind nur wenige Schritte bis
                    zur vollständigen Mitgliedschaft in unserem Partnerprogramm nötig.
            .pics-block__info
                p.
                    Die Teilnahme im Zoobio.de Partnerprogramm ist für Sie absolut kostenlos, was ein sehr wichtiger
                    Vorteil ist. Sie können sich also innerhalb 1 Minute absolut kostenlos registrieren, und schon
                    heute anfangen Geld zu verdienen, indem sie mit uns zusammen unser Tierbedarf Sortiment in ganz
                    Europa verkaufen.
            .pics-block__info
                p.
                    Einfach, schnell und ohne komplizierte Registrierung
        .pics-block__image.df-cc
            img(src="/img/pics-block3.png" alt="#").image
        .pics-block__image.df-cc
            img(src="/img/pics-block4.png" alt="#").image
        .pics-block__text
            h3.pics-block__header
                span.pics-block__header-element SCHRITT 1
            .pics-block__info
                p.
                    Fügen sie unseren Banner oder Link auf Ihrer Webseite ein, um ein vollwertiges Mitglied im
                    Partnerprogramm zu werden. Unsere umfangreiche Auswahl an Bannern, Logos und Links gibt Ihnen
                    die Möglichkeit, passende Werbemittel von Zoobio.de zu integrieren, ohne das Design Ihrer
                    Webseite zu stören. Wählen sie einfach das passende Werbemittel für Ihre Webseite!
            h3.pics-block__header
                span.pics-block__header-element SCHRITT 2
            .pics-block__info
                p.
                    Jeder vermittelter Kauf auf Zoobio wird mit bis zu 10 % Provision vergütet, ohne Mindestumsatz
                    und Deckelung. In unserem Partnerprogramm können Sie alle erforderlichen Statistiken wie Views,
                    Klicks & Verkäufe sowie Ihre Provision jederzeit einsehen.
            h3.pics-block__header
                span.pics-block__header-element SCHRITT 3
            .pics-block__info
                p.
                    Werden Sie Partner von Zoobio und profitieren durch unser attraktives Partnerprogramm. Wir
                    garantieren Ihnen mindestens 10 % vom Warenwert jeder vermittelten Bestellung. Je nach Anzahl
                    und Wert der Bestellung können Sie mit einer großen Provision rechnen. Jetzt schnell und
                    einfach registrieren und von der stark wachsenden Branche für Tierbedarf in Europa viel Geld
                    verdienen.
article.market-brands
    h2.market-brands__header
        span HAUSTIERBEDARF TOP MARKEN
    ul.market-brands__list.df-cb
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands1.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands2.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands3.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands4.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands5.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands6.jpg" alt="#").image
        li
            a(href="#").market-brands__element.df-cc
                img(src="/img/market-brands7.jpg" alt="#").image
