section.main-banner
    .list-wrapper
        .next-btn
        .prev-btn
        ul.list
            li.list__element.backgound1
                .list__text.df-cc
                    span.best BESTE
                    h1.header ANGEBOTE
                    span.header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.info-block-big VERSANDKOSTEN SPAREN
                    span.info-block Versandkostenfrei innerhalb Deutchelands ab 30€
            li.list__element.backgound1
                .list__text.df-cc
                    span.best BESTE
                    h1.header ANGEBOTE
                    span.header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.info-block-big VERSANDKOSTEN SPAREN
                    span.info-block Versandkostenfrei innerhalb Deutchelands ab 30€
            li.list__element.backgound1
                .list__text.df-cc
                    span.best BESTE
                    h1.header ANGEBOTE
                    span.header-sub Nur mit uns sparen Sie am Preis, aber nicht na der Qualitat!
                    span.info-block-big VERSANDKOSTEN SPAREN
                    span.info-block Versandkostenfrei innerhalb Deutchelands ab 30€