footer.footer
    .main-wrapper.df
        article.footer__column
            h3.footer__header
                span KUNDENSERVICE
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Registrieren
                li.footer__item
                    a(href="#").footer__link Kontakt
                li.footer__item
                    a(href="#").footer__link Versand
                li.footer__item
                    a(href="#").footer__link Zahlung
                li.footer__item
                    a(href="#").footer__link Widerruf
                li.footer__item
                    a(href="#").footer__link FAQ
        article.footer__column
            h3.footer__header
                span ÜBER ZOOBOOM
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Impressum
                li.footer__item
                    a(href="#").footer__link AGB
                li.footer__item
                    a(href="#").footer__link Datenschutz
                li.footer__item
                    a(href="#").footer__link Newsletter
                li.footer__item
                    a(href="#").footer__link Blog
                li.footer__item
                    a(href="#").footer__link Partnerprogramm
        article.footer__column
            h3.footer__header
                span SICHER EINKAUFEN
            ul.footer__list
                li.footer__item.footer__item--marked
                    i.material-icons done
                    a(href="#").footer__link Schneller Versand
                li.footer__item.footer__item--marked
                    i.material-icons done
                    a(href="#").footer__link Käuferschutz
                li.footer__item.footer__item--marked
                    i.material-icons done
                    a(href="#").footer__link Datenschutz
                li.footer__item.footer__item--marked
                    i.material-icons done
                    a(href="#").footer__link Sichere Zahlung mit SSL-Ver­schlüs­se­lung
                li.footer__item.footer__item--marked
                    i.material-icons done
                    a(href="#").footer__link Günstige Preise
        article.footer__label-column
            a(href="#").footer__logo
                img(src="/img/logo-white.png" alt="#").image
            h3.footer__header
                span Folge auf
            ul.footer__social
                li.footer__social-item
                    a(href="#").footer__social-link.df-cc
                        img(src="/img/facebook.png" alt="#").image
                li.footer__social-item
                    a(href="#").footer__social-link.df-cc
                        img(src="/img/twitter.png" alt="#").image
                li.footer__social-item
                    a(href="#").footer__social-link.df-cc
                        img(src="/img/linked-in.png" alt="#").image
            .footer__delivery.df-c
                a(href="#").footer__delivery-element.df-cc
                    img(src="/img/dhl.png" alt="#").image
                a(href="#").footer__delivery-element.df-cc
                    img(src="/img/dhl-pack.png" alt="#").image
section.footer__info
    .main-wrapper.h100p.df-c
        article.footer__language.df-c
            span Sprache
            img(src="/img/flags/deu.png" alt="#").footer__language-image.image
        article.footer__information
            span © 2016, Haustierbedarf Zoobio Online Shop für Tierbedarf & Tierfutter
        article.footer__payment-links.df-c
            a(href="#").footer__payment-image
                img(src="/img/visa.png" alt="#").image
            a(href="#").footer__payment-image
                img(src="/img/mastercard.png" alt="#").image
            a(href="#").footer__payment-image
                img(src="/img/paypal.png" alt="#").image
