footer.footer
    .main-wrapper.df
        article.footer__column
            h3.header
                span KUNDENSERVICE
            ul.list
                li
                    a(href="#").list__element Registrieren
                li
                    a(href="#").list__element Kontakt
                li
                    a(href="#").list__element Versand
                li
                    a(href="#").list__element Zahlung
                li
                    a(href="#").list__element Widerruf
                li
                    a(href="#").list__element FAQ
        article.footer__column
            h3.header
                span ÜBER ZOOBOOM
            ul.list
                li
                    a(href="#").list__element Impressum
                li
                    a(href="#").list__element AGB
                li
                    a(href="#").list__element Datenschutz
                li
                    a(href="#").list__element Newsletter
                li
                    a(href="#").list__element Blog
                li
                    a(href="#").list__element Partnerprogramm
        article.footer__column
            h3.header
                span SICHER EINKAUFEN
            ul.list.marked
                li
                    i.material-icons done
                    a(href="#").list__element Schneller Versand
                li
                    i.material-icons done
                    a(href="#").list__element Käuferschutz
                li
                    i.material-icons done
                    a(href="#").list__element Datenschutz
                li
                    i.material-icons done
                    a(href="#").list__element Sichere Zahlung mit SSL-Ver­schlüs­se­lung
                li
                    i.material-icons done
                    a(href="#").list__element Günstige Preise
        article.footer__label-column
            a(href="#").logo
                img(src="/img/logo-white.png" alt="#").image
            h3.header
                span Folge auf
            ul.social
                li
                    a(href="#").social__element.df-cc
                        img(src="/img/facebook.png" alt="#").image
                li
                    a(href="#").social__element.df-cc
                        img(src="/img/twitter.png" alt="#").image
                li
                    a(href="#").social__element.df-cc
                        img(src="/img/linked-in.png" alt="#").image
            .delivery.df-c
                a(href="#").delivery__element.df-cc
                    img(src="/img/dhl.png" alt="#").image
                a(href="#").delivery__element.df-cc
                    img(src="/img/dhl-pack.png" alt="#").image
section.footer-info
    .main-wrapper.h100p.df-c
        article.language.df-c
            span Sprache
            img(src="/img/flags/deu.png" alt="#").image
        article.information
            span © 2016, Haustierbedarf Zoobio Online Shop für Tierbedarf & Tierfutter
        article.payment-links.df-c
            a(href="#").payment-links__image
                img(src="/img/visa.png" alt="#").image
            a(href="#").payment-links__image
                img(src="/img/mastercard.png" alt="#").image
            a(href="#").payment-links__image
                img(src="/img/paypal.png" alt="#").image