header.main-header
    .main-wrapper.df-c.h100p
        article.main-logo
            a(href="#")
                img(src="/img/logo.png" alt="#").image
        article.contacts.df-cc
            .contacts__image.df-cc
                i.material-icons phone
            .contacts__number
                span +49 30 208 476 906
            .contacts__time
                span Mo - Fr 9:00 - 18:00 Uhr
        article.account
            a(href="#").account__image
        article.wishlist
            a(href="#").wishlist__image
        article.cart
            a(href="#").df-c
                .cart__image
                span €12.00