header.main-header
    .main-wrapper.df-c.h100p
        article.main-logo
            a(href="#")
                img(src="/img/logo.png" alt="#").image
        article.main-header__contacts.df-cc
            .main-header__contacts-image.df-cc
                i.material-icons phone
            .main-header__contacts-number
                span +49 30 208 476 906
            .main-header__contacts-time
                span Mo - Fr 9:00 - 18:00 Uhr
        article.main-header__account.main-header__account--registration
            .account-popup
              button(type="button").account-popup__button 
                span ANMELDEN
                i.account-popup__icon.material-icons exit_to_app
              .account-popup__block.hidden
                .account-login__form
                  form
                    .account-login__mail
                      label(for="email").account-login__mail-label
                        span E-Mail-Adresse*
                      input(type="email" id="email" placeholder="E-Mail-Adresse*").account-login__input
                    .account-login__password
                      label(for="password").account-login__password-label
                        span Passwort*
                      input(type="name" id="password" placeholder="Passwort*").account-login__input
                    button(type="submit").account-login__button ANMELDEN
                  a(href="#").account-login__recovery Passwort vergessen?
                .account-login__social
                  span.account-login__social-header REGISTRIERUNG DURCH SOZIALE NETZWERKE:
                  .social.df-ca
                    a(href="#").social__link
                      img(src="/img/facebook-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/google-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/twitter-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/instagram-link.png" alt="#").image
                .account-registration__block
                  p.account-registration__text Falls Sie noch kein Benutzerkonto bei Zoobio.de haben, REGISTRIEREN Sie sich jetzt. 
                  a(href="#").account-registration__button REGISTRIEREN
