header.main-header
    .main-wrapper.df-c.h100p
        article.main-logo
            a(href="#")
                img(src="/img/logo.png" alt="#").image
        article.main-header__contacts.df-cc
            .main-header__contacts-image.df-cc
                i.material-icons phone
            .main-header__contacts-number
                span +49 30 208 476 906
            .main-header__contacts-time
                span Mo - Fr 9:00 - 18:00 Uhr
        article.main-header__account
            a(href="#").main-header__account-image
        article.main-header__wishlist
            a(href="#").main-header__wishlist-image
        article.main-header__cart
            a(href="#").df-c
                .main-header__cart-image
                span.main-header__cart-price €12.00
