header.main-header
    .main-wrapper.df-c.h100p
        article.main-logo
            a(href="#")
                img(src="/img/logo.png" alt="#").image
        article.contacts.df-cc
            .contacts__image.df-cc
                i.material-icons phone
            .contacts__number
                span +49 30 208 476 906
            .contacts__time
                span Mo - Fr 9:00 - 18:00 Uhr
        article.account.account--registration
            .header-login-registration
              button(type="button").header-login-registration__button 
                span ANMELDEN
                i.material-icons exit_to_app
              .header-login-registration__block
                .header-login__form
                  form
                    .header-login__mail
                      label(for="email")
                        span E-Mail-Adresse*
                      input(type="email" id="email" placeholder="E-Mail-Adresse*").header-login__input
                    .header-login__password
                      label(for="password")
                        span Passwort*
                      input(type="name" id="password" placeholder="Passwort*").header-login__input
                    button(type="submit").header-login__button ANMELDEN
                  a(href="#").header-login__recovery Passwort vergessen?
                .header-login__social
                  span.header-login__social-header REGISTRIERUNG DURCH SOZIALE NETZWERKE:
                  .social.df-ca
                    a(href="#").social__link
                      img(src="/img/facebook-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/google-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/twitter-link.png" alt="#").image
                    a(href="#").social__link
                      img(src="/img/instagram-link.png" alt="#").image
                .header-registration__block
                  p.header-registration__text Falls Sie noch kein Benutzerkonto bei Zoobio.de haben, REGISTRIEREN Sie sich jetzt. 
                  a(href="#").header-registration__button REGISTRIEREN
                          
              
            
