nav.main-navigation
    .main-wrapper.df-c.h100p
        a(href="#").main-navigation__sandwich.df-cc
            i.main-navigation__sandwich-icon.material-icons menu
        ul.main-navigation__list.df-c
            li.main-navigation__item
                a(href="#").main-navigation__link HUND
            li.main-navigation__item
                a(href="#").main-navigation__link KATZE
            li.main-navigation__item
                a(href="#").main-navigation__link VOGEL
            li.main-navigation__item
                a(href="#").main-navigation__link KLEINTIERE
            li.main-navigation__item
                a(href="#").main-navigation__link AQUARISTIK
            li.main-navigation__item
                a(href="#").main-navigation__link PFERD
            li.main-navigation__item
                a(href="#").main-navigation__link MARKEN
            li.main-navigation__item
                a(href="#").main-navigation__link TERRARISTIK
        article.main-navigation__search
            a(href="#").main-navigation__search-image
                i.material-icons search
