nav.main-navigation
    .main-wrapper.df-c.h100p
        a(href="#").sandwich.df-cc
            i.material-icons menu
        ul.list.df-c
            li
                a(href="#").list__element HUND
            li
                a(href="#").list__element KATZE
            li
                a(href="#").list__element VOGEL
            li
                a(href="#").list__element KLEINTIERE
            li
                a(href="#").list__element AQUARISTIK
            li
                a(href="#").list__element PFERD
            li
                a(href="#").list__element MARKEN
            li
                a(href="#").list__element TERRARISTIK
        article.search
            a(href="#").search__image
                i.material-icons search