section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") Registration

        article.progress-bar
            h1.progress-bar__header
                span BENUTZERKONTO ANLEGEN

        article.form-block.form-block--center.df
            .form-block__element.form-block__element--full-width
                h2.progress-bar__legend
                    span ANMELDEINFORMATION
                form
                    .forms
                        label(for="email2").forms__label
                            span E-Mail-Adresse*
                        input(type="email" id="email2").forms__input
                        .forms__half
                          label(for="passwot1").forms__label
                              span Passwort*
                          input(type="password" id="passwot1").forms__input
                        .forms__half
                          label(for="passwot2").forms__label
                              span Passwort wiederholen*
                          input(type="password" id="passwot2").forms__input
                    h2.progress-bar__legend
                        span PERSÖNLICHE INFORMATION
                    .forms
                        .main-form__columns.df
                            .column.column--full-width
                                label(for="anrede").column__label
                                    span Anrede
                                select.column__select.js-cart-select
                                    option Deutschland
                                    option Ukraine
                                    option Something
                        .main-form__columns.df
                            .column
                                label(for="vorname").column__label
                                    span Vorname*
                                input(type="text" id="vorname").column__input
                                label(for="firma").column__label
                                    span Haustiername
                                input(type="text" id="haustiername").column__input
                                label(for="strabe").column__label
                                    span Straße*
                                input(type="text" id="strabe").column__input
                                label(for="stadt").column__label
                                    span Stadt*
                                input(type="text" id="stadt").column__input
                                label(for="land").column__label
                                    span Land*
                                select.column__select.js-cart-select
                                    option Deutschland
                                    option Ukraine
                                    option Something
                            .column
                                label(for="nachname").column__label
                                    span Nachname*
                                input(type="text" id="nachname").column__input
                                label(for="adresszusatz").column__label
                                    span Firma / Adresszusatz
                                input(type="text" id="adresszusatz").column__input
                                label(for="nummer").column__label
                                    span Nummer*
                                input(type="text" id="nummer").column__input
                                label(for="postleitzahl").column__label
                                    span Postleitzahl*
                                input(type="text" id="postleitzahl").column__input
                                label(for="telefon").column__label.w100p
                                    span Telefon*
                                .select-wrapper.df
                                    select.js-cart-select3
                                        option
                                        option
                                        option
                                            span: img(src="/img/flags/deu.png").image
                                    .column__input-pre.df-cc
                                        span +049
                                    input(type="text" id="telefon").column__input-small

                        .main-form__info-mark.df-c
                            input(type="checkbox" id="news").input
                            label(for="news").label
                                span Erhalten Sie einen 10% Rabatt für das Abonnieren des Newsletters
                    h2.progress-bar__legend
                        span INTERESSENGEBIETE:
                    .forms-wrapper
                        .main-form__info-mark
                            .main-form__columns.df
                                .column.column--third.df
                                    .input-wrapper
                                      input(type="checkbox" id="hunde").input
                                      label(for="hunde").label
                                          span Hunde
                                    .input-wrapper 
                                      input(type="checkbox" id="katzen").input
                                      label(for="katzen").label
                                          span Katzen
                                    .input-wrapper
                                      input(type="checkbox" id="vogel").input
                                      label(for="vogel").label
                                          span Vogel
                                .column.column--third.df
                                    .input-wrapper
                                        input(type="checkbox" id="kleintiere").input
                                        label(for="kleintiere").label
                                            span Kleintiere 
                                    .input-wrapper
                                        input(type="checkbox" id="aquaristik").input
                                        label(for="aquaristik").label
                                            span Aquaristik
                                    .input-wrapper
                                        input(type="checkbox" id="pferd").input
                                        label(for="pferd").label
                                            span Pferd
                                .column.column--third.df
                                    .input-wrapper
                                        input(type="checkbox" id="biofutter-hunde").input
                                        label(for="biofutter-hunde").label
                                            span Biofutter für Hunde
                                    .input-wrapper
                                        input(type="checkbox" id="biofutter-katzen").input
                                        label(for="biofutter-katzen").label
                                            span Biofutter für Katzen
                                    .input-wrapper
                                        input(type="checkbox" id="terraristik").input
                                        label(for="terraristik").label
                                            span Terraristik
                        .input-wrapper
                            input(type="checkbox" id="news-yes").input.input--gray
                            label(for="news-yes").label.label--gray
                                span Ja, ich möchte per Email informiert werden. Abmeldung jederzeit möglich.
                        .input-wrapper
                            input(type="checkbox" id="news-no").input.input--gray
                            label(for="news-no").label.label--gray
                                span Nach meiner ersten Bestellung darf mich Zoobio mit einem Willkommensanruf begrüßen
                    p.form-block__caption * Pflichtfelder
                    .social.social--center.df-cb
                          button(type="button").big-orange-btn Absenden
                  
