extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account6-page
            .main-wrapper
                include account/account6/account6
        include include/footer
