extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account2-page
            .main-wrapper
                include account/account2/account2
        include include/footer
