extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account2-payment-page
            section.main-wrapper
                include account/account2-payment/account2-payment
        include footer/footer-base
