extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account3-page
            section.main-wrapper
                include account/account3/account3
        include footer/footer-base
