extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account3-page
            .main-wrapper
                include account/account3/account3
        include include/footer
