extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account2-payment-page
            .main-wrapper
                include account/account2-payment/account2-payment
        include include/footer
