extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account6-page
            section.main-wrapper
                include account/account6/account6
        include footer/footer-base
