extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account4-page
            section.main-wrapper
                include account/account4/account4
        include footer/footer-base
