extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account1-page
            section.main-wrapper
                include account/account1/account1
        include footer/footer-base
