extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account2-page
            section.main-wrapper
                include account/account2/account2
        include footer/footer-base
