extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account4-page
            .main-wrapper
                include account/account4/account4
        include include/footer
