extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.account5-page
            section.main-wrapper
                include account/account5/account5
        include footer/footer-base
