extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account5-page
            .main-wrapper
                include account/account5/account5
        include include/footer
