extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.account1-page
            .main-wrapper
                include account/account1/account1
        include include/footer
