extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.brand-page
            section.main-wrapper
                include brand/aside
                include brand/brand
        include footer/footer-base
