extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.brand-page
            .main-wrapper
                include brand/aside
                include brand/brand
        include include/footer
