extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.cart3-page
            section.main-wrapper
                include cart/cart3/cart3
        include footer/footer-base
