extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart3-page
            .main-wrapper
                include cart/cart3/cart3
        include include/footer
