extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.cart2-page
            section.main-wrapper
                include cart/cart2/cart2
        include footer/footer-base
