extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart6-page
            .main-wrapper
                include cart/cart6/cart6
        include include/footer
