extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart2-page
            .main-wrapper
                include cart/cart2/cart2
        include include/footer
