extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.cart1-page
            section.main-wrapper
                include cart/cart1/cart1
        include footer/footer-base
