extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.cart4-page
            section.main-wrapper
                include cart/cart4/cart4
        include footer/footer-base
