extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart5-page
            .main-wrapper
                include cart/cart5/cart5
        include include/footer
