extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.cart6-page
            section.main-wrapper
                include cart/cart6/cart6
        include footer/footer-base
