extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart1-page
            .main-wrapper
                include cart/cart1/cart1
        include include/footer
