extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.cart4-page
            .main-wrapper
                include cart/cart4/cart4
        include include/footer
