extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.catalog-page
            .main-wrapper
                include catalog/aside
                include catalog/catalog
        include include/footer
