extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.catalog-page
            section.main-wrapper
                include catalog/aside
                include catalog/catalog
        include footer/footer-base
