extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.category3-page
            section.main-wrapper
                include category/category3/aside
                include category/category3/category3
            include category/category3/main-promo
        include footer/footer-base
