extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.category2-page
            section.main-wrapper
                include category/category2/aside
                include category/category2/category2
            include category/category2/main-promo
        include footer/footer-base
