extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.category1-page
            section.main-wrapper
                include category/category1/aside
                include category/category1/category1
            include category/category1/main-promo
        include footer/footer-base
