extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.category1-page
            .main-wrapper
                include category/category1/aside
                include category/category1/category1
            include category/category1/main-promo
        include include/footer
