extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.category2-page
            .main-wrapper
                include category/category2/aside
                include category/category2/category-cards
            include category/category1/main-promo
        include include/footer
