extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.category3-page
            .main-wrapper
                include category/category3/aside
                include category/category3/category-lev3
            include category/category1/main-promo
        include include/footer
