extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.contact-page
            .main-wrapper
                include contact/contact
        include include/footer
