extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.contact-page
            section.main-wrapper
                include contact/contact
        include footer/footer-base
