extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.index-page
            include index/banner
            section.main-wrapper
                include index/index-content
                include index/aside
                include index/index-products
            include index/main-promo
        include footer/footer-base
