extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.index-page
            include index/banner
            .main-wrapper.main-wrapper--index
                include index/index-content
                include index/aside
                include index/index-products
            include index/main-promo
        include include/footer
