extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.pass1-page
            .main-wrapper
                include pass/pass1/pass1
        include include/footer
