extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.pass1-page
            section.main-wrapper
                include auth/pass/pass1/pass1
        include footer/footer-base
