extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.pass-page
            .main-wrapper
                include pass/pass/pass
        include include/footer
