extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.pass-page
            section.main-wrapper
                include auth/pass/pass/pass
        include footer/footer-base
