extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.product-page
            section.main-wrapper
                include product/product-content
        include footer/footer-base
