extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.product-page
            .main-wrapper
                include product/product-content
        include include/footer
