extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile3-page
            section.main-wrapper
                include profile/profile3/profile3
        include footer/footer-base
