extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile2-page
            section.main-wrapper
                include profile/profile2/profile2
        include footer/footer-base
