extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile1-page
            section.main-wrapper
                include profile/profile1/profile1
        include footer/footer-base
