extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile2-payment-page
            section.main-wrapper
                include profile/profile2-payment/profile2-payment
        include footer/footer-base
