extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile4-page
            section.main-wrapper
                include profile/profile4/profile4
        include footer/footer-base
