extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.profile6-page
            section.main-wrapper
                include profile/profile6/profile6
        include footer/footer-base
