extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.registration-page
            .main-wrapper
                include registration/registration
        include include/footer
