extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.registration-page
            section.main-wrapper
                include auth/registration/registration
        include footer/footer-base
