extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.search-page
            section.main-wrapper
                include search/aside
                include search/search-content
        include footer/footer-base
