extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.search-page
            .main-wrapper
                include search/aside
                include search/search-content
        include include/footer
