extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static7-page
            .main-wrapper
                include static/static7/static7
        include include/footer
