extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static2-page
            section.main-wrapper
                include static/static2/static2
        include footer/footer-base
