extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static4-page
            section.main-wrapper
                include static/static4/static4
        include footer/footer-base
