extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static4-page
            .main-wrapper
                include static/static4/static4
        include include/footer
