extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static8-page
            .main-wrapper
                include static/static8/static8
        include include/footer
