extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static8-page
            section.main-wrapper
                include static/static8/static8
        include footer/footer-base
