extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static5-page
            .main-wrapper
                include static/static5/static5
        include include/footer
