extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static5-page
            section.main-wrapper
                include static/static5/static5
        include footer/footer-base
