extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static9-page
            section.main-wrapper
                include static/static9/static9
        include footer/footer-base
