extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static1-page
            .main-wrapper
                include static/static1
        include include/footer
