extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static9-page
            .main-wrapper
                include static/static9/static9
        include include/footer
