extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static6-page
            .main-wrapper
                include static/static6/static6
        include include/footer
