extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static1-page
            section.main-wrapper
                include static/static1/static1
        include footer/footer-base
