extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static6-page
            section.main-wrapper
                include static/static6/static6
        include footer/footer-base
