extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static2-page
            .main-wrapper
                include static/static2/static2
        include include/footer
