extends template

block content
    #wrapper
        include header/header-base
        include navigation/navigation
        main.static3-page
            section.main-wrapper
                include static/static3/static3
        include footer/footer-base
