extends template

block content
    #wrapper
        include include/header
        include include/navigation
        main.static3-page
            .main-wrapper
                include static/static3/static3
        include include/footer
