doctype html
html
    head
        meta(charset="UTF-8")
        title TOPTIERBEDAF
        
        link(href="css/fonts.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
        link(href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet" type="text/css")
        link(href='lib/jquery.bxslider.css', rel='stylesheet' type='text/css')
        link(href='lib/lightslider.css', rel='stylesheet' type='text/css')
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet" type="text/css")
    body
        block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
        script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" type="text/javascript")
        script(src='js/jquery.bxslider.min.js')
        script(src='lib/lightslider.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" type="text/javascript")
        script(src="js/main.js" type="text/javascript")
