aside.account-menu
    ul.account-menu__list
        li.account-menu__item
            a(href="#").account-menu__link Bestellungen  verwalten
        li.account-menu__item
            a(href="#").account-menu__link Zahlungsart
        li.account-menu__item
            a(href="#").account-menu__link Lieferadresse
        li.account-menu__item
            a(href="#").account-menu__link.account-menu__link--active Meine Daten
        li.account-menu__item
            a(href="#").account-menu__link Zuletzt gesehene  Artikel
        li.account-menu__item
            a(href="#").account-menu__link Wunschliste
section.account__main-content
    h1.account__header
        span MEIN KONTO
    article.account__ordering-block
        h2.account__sub-header
            span Lieferadresse
        .account__form-table
            .account__block-header
                span Bearbeiten
            .delivery.account__wrapper
                ul.delivery__list
                    li.delivery__item
                        label(for="address1").delivery__label.df-cb
                            .delivery__left-block.df-cb
                                input(type="radio" name="address" id="address1").input-radio-red
                                label.label-for-radio(for="address1")
                                .delivery__address
                                    p.text
                                        |Asfesdfg, 21.
                                        br
                                        |Portugal fsd, 1000-001 
                            .delivery__right-block.df-cb
                                span.delivery__btn Wahlen
                                a(href="#"): i.material-icons close
    article.account-data
        form.account-data__form
            .account-data__column
                .account-data__sex.df
                    span.account-data__sex-header Anrede*
                    input(type="radio" name="sex" id="sex1").account-data__sex-input
                    label(for="sex1").account-data__sex-label
                        span Herr
                    input(type="radio" name="sex" id="sex2").account-data__sex-input
                    label(for="sex2").account-data__sex-label
                        span Frau
                    input(type="radio" name="sex" id="sex3").account-data__sex-input
                    label(for="sex3").account-data__sex-label
                        span Firma
                label(for="vorname").account-data__column-label
                    span Vorname*
                input(type="text" id="vorname").account-data__column-input
                label(for="nachname").account-data__column-label
                    span Nachname*
                input(type="text" id="nachname").account-data__column-input
                label(for="firma").account-data__column-label
                    span Firma*
                input(type="text" id="firma").account-data__column-input
                .account-data__phone
                    label(for="ust").account-data__column-label
                        span USt-IdNr.*
                    .select-wrapper.df
                        select.js-cart-select2
                            option
                            option
                            option
                                span: img(src="/img/flags/deu.png").image
                        input(type="text" id="ust").account-data__column-input-small
                label(for="strabe").account-data__column-label
                    span Straße*
                input(type="text" id="strabe").account-data__column-input
            .account-data__column
                label(for="adresszusatz").account-data__column-label
                    span Adresszusatz
                input(type="text" id="adresszusatz").account-data__column-input
                label(for="hausnummer").account-data__column-label
                    span Hausnr.*
                input(type="text" id="hausnummer").account-data__column-input
                label(for="postleitzahl").account-data__column-label
                    span Postleitzahl*
                input(type="text" id="postleitzahl").account-data__column-input
                label(for="stadt").account-data__column-label
                    span Stadt*
                input(type="text" id="stadt").account-data__column-input
                .account-data__land
                    label(for="land").account-data__column-label
                        span Land*
                    select.account-data__column-select.js-cart-select
                        option Deutschland
                        option Ukraine
                        option Something
                .account-data__phone
                    label(for="telefon").account-data__column-label.w100p
                        span Telefon*
                    .select-wrapper.df
                        select.js-cart-select3
                            option
                            option
                            option
                                span: img(src="/img/flags/deu.png").image
                        .account-data__column-input-pre.df-cc
                            span +049
                        input(type="text" id="telefon").account-data__column-input-small
            .account-data__submit-block.df-ce
                button(type="submit").big-orange-btn Senden
    article.account__form-table
        .account__wrapper
            a(href="#").account__add-address 
                span Eine neue Lieferadresse hinzufügen
                i.material-icons add_circle_outline
