nav.navigation-main
    .main-wrapper.df-c.h100p
        a(href="#").navigation-main__sandwich.df-cc
            i.navigation-main__sandwich-icon.material-icons menu
        ul.navigation-main__list.df-c
            li.navigation-main__item
                a(href="#").navigation-main__link HUND
            li.navigation-main__item
                a(href="#").navigation-main__link KATZE
            li.navigation-main__item
                a(href="#").navigation-main__link VOGEL
            li.navigation-main__item
                a(href="#").navigation-main__link KLEINTIERE
            li.navigation-main__item
                a(href="#").navigation-main__link AQUARISTIK
            li.navigation-main__item
                a(href="#").navigation-main__link PFERD
            li.navigation-main__item
                a(href="#").navigation-main__link MARKEN
            li.navigation-main__item
                a(href="#").navigation-main__link TERRARISTIK
        article.navigation-main__search
            a(href="#").navigation-main__search-image
                i.material-icons search
