article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Warenkorb

article.progress-bar
    h1.progress-bar__header
        span WARENKORB
article.cart-table
    table.table
        tr.table__header
            th(colspan="2").table__header-item Artikel
            th.table__header-item Lieferzeit
            th.table__header-item Menge
            th.table__header-item.t-ar Einzelpreis
            th(colspan="2").table__header-item.t-ar Betrag
        tr.table__content
            td.table__image
                img(src="/img/product5.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
        tr.table__content
            td.table__image
                img(src="/img/product7.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
        tr.table__content
            td.table__image
                img(src="/img/product6.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
article.cart-final.df
    .cart-final__block
        h2.cart-final__header
            span VORAUSSICHTLICHER VERSAND DIESES ARTIKELS:
        .cart-final__text
            p Freitag, 01.04.2016 - Sonntag, 03.04.2016
            p Bei Vorkassezahlung 2-4 Werktage nach Zahlungseingang.
    .cart-final__block.cart-final__block--large
        .cart-final__price.df--b
            span.cart-final__price-header Gesamtpreis
            span.cart-final__price-value 56.10 €
        .cart-final__price.df--b
            span.cart-final__price-header Preis ohne MwSt
            span.cart-final__price-value 56.10 €
        .cart-final__price.df--b
            span.cart-final__price-header
              b *
              | Versandkosten
            span.cart-final__price-value 0 €
        .cart-final__price.df--b
            span.cart-final__price-header Zahlungsbetrag, Steuern inklusive
            .cart-final__price-final.t-ar
                span.cart-final__price-final-value 114.10 €
                span.cart-final__price-final-info inkl. gesetzlicher MwSt.
        .cart-final__price.t-ar.df--b
            button(type="button").cart-final__price-button.cart-final__price-button--transparent Warenkorb aktualisieren
            button(type="button").cart-final__price-button JETZT KAUFEN
        .cart-final__price
          p.cart-final__price-clarification.
            Gutscheincodes können Sie im letzten Bestellschritt "Bestätigen" einlösen
          p.cart-final__price-clarification
            b.cart-final__price-clarification-bold * Bitte beachten:
            | Falls Sie schwere Fracht erwarten, muss der Preis von unserer Auslieferung sabteilung genehmigt werden. Wir halten Sie darüber auf dem Laufenden.
