.search-page
  @import 'aside-filter'
  @import 'aside'
  @import 'search-content'


  .main-wrapper
    width 1100px
    margin 0 auto
    padding 0 10px
    margin-top 140px
    display flex
    justify-content space-between
    flex-wrap wrap

  .main-block
    width 785px
