article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Zahlung
article.static__wrapper.df--b.dfw
    h1.static__main-header
        span ZAHLUNG
    .static__column
        h3.static__column-header
            span BAR-NACHNAHME:
        p.static__column-text.
            Der gesamte Rechnungsbetrag (zzgl. 5,50 € Nachnahmegebühren) wird bei Auslieferung der Sendung in
            bar an den Zusteller entrichtet. Beachten Sie, dass der Zusteller die Ware nur gegen den kompletten
            Betrag in bar aushändigt. Halten Sie daher die Summe möglichst passend bereit.
        p.static__column-text.
            Zusätzlich erhebt DHL € 2,00 - Zustellgebühr bei Übergabe.
        p.static__column-text.
            Nachnahmegebühren: 5,50 €
        p.static__column-text.
            Versand: 1,99 €
        h3.static__column-header
            span VORKASSE:
        p.static__column-text.
            Der zu zahlende Geldbetrag wird auf unsere angegebene Bankverbindung überwiesen.
        p.static__column-text.
            Verwendungszweck: Auftragsnummer.
        p.static__column-text.
            Die Auftragsnummer erhalten Sie nach einer Bestellung per E-Mail zugesandt, zusätzlich wird diese
            auch direkt nach einer Bestellung angezeigt. Der Versand erfolgt, nachdem die Zahlung auf unser
            Konto eingegangen ist. Dabei entsteht meistens eine Banklaufzeit von bis zu 3 Werktagen.
        h3.static__column-header
            span KREDITKARTE:
        p.static__column-text.
            Nachdem Sie Kreditkarte als Zahlungsmethode gewählt haben, Klicken Sie bitte auf „Kaufen“.
            Anschließend werden Sie auf eine gesicherte Seite weitergeleitet, wo Sie Ihre Kreditkartenart
            auswählen dürfen. Zum Abschluss müssen die richtigen Kreditkartendaten eingegeben und die Zahlung
            bestätigt werden. Die Belastung Ihres Kreditkartenkontos erfolgt mit Abschluss der Bestellung.
        h3.static__column-header
            span PAYPAL:
        p.static__column-text.
            Nach Absenden Ihrer Bestellung werden Sie zu PayPal weitergeleitet. Loggen Sie sich ein und tätigen
            Sie die Zahlung. Um eine Zahlung per PayPal durchführen zu können, benötigen Sie ein PayPal-Konto.
            Für Sie fallen keine weiteren Gebühren an.
    .static__column
        h3.static__column-header
            span SOFORTÜBERWEISUNG:
        p.static__column-text.
            Sofortüberweisung ist das Direkt-Überweisungsverfahren der Payment Network AG. Mit Sofortüberweisung
            stellen Sie noch während Ihrer Bestellung bequem eine Überweisung über den jeweiligen Betrag in Ihr
            Online-Banking-Konto ein. Wir erhalten nach Abschluss der Sofortüberweisung eine Echtzeitbestätigung.
            So kann Lagerware sofort versenden werden - Sie erhalten dann Ihre Bestellung schneller.
        h3.static__column-header
            span SELBSTABHOLER:
        p.static__column-text.
            Sie können Ihre Bestellung auch persönlich in unserer Filiale abholen und den Rechnungsbetrag vor
            Ort bar oder via Kreditkarte begleichen. Dabei entfallen die Versandkosten (zusätzliche Kosten
            fallen nicht an).
        h3.static__column-header
            span ZAHLUNG PER RECHNUNG:
        p.static__column-text.
            In Zusammenarbeit mit Klarna bieten wir Ihnen den Rechnungskauf als Zahlungsoptionen. Bei einer
            Zahlung mit Klarna müssen Sie niemals Ihre Kontodaten angeben, und Sie bezahlen erst, wenn Sie die
            Ware erhalten haben. Die Lieferung ist an eine von der Rechnungsadresse abweichende Lieferadresse
            nicht möglich. Wir bitten Sie hierfür um Verständnis.
        p.static__column-text.
            Beim Kauf auf Rechnung mit Klarna bekommen Sie immer zuerst die Ware und Sie haben immer eine
            Zahlungsfrist von 14 Tagen. Weitere Informationen und Klarnas vollständige AGB zum Rechnungskauf
            finden Sie hier.
        p.static__column-text.
            Klarna prüft und bewertet die Datenangaben des Konsumenten und pflegt bei berechtigtem Anlass einen
            Datenaustausch mit anderen Unternehmen und Wirtschaftsauskunfteien (Bonitätsprüfung). Sollte die
            Bonität des Konsumenten nicht gewährleistet sein, kann Klarna AB dem Kunden darauf Klarnas
            Zahlungsarten verweigern und muss auf alternative Zahlungsmöglichkeiten hinweisen. Ihre
            Personenangaben werden in Übereinstimmung mit dem Datenschutzgesetz behandelt und werden nicht zu
            Werbezwecken an Dritte weitergegeben. Hier erfahren Sie mehr zu Klarnas Datenschutzbestimmungen.
        p.static__column-text.
            Informationen zu eventuellen Zollgebühren finden Sie hier.
