section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") Warenkorb

        article.progress-bar
            h1.progress-bar__header
                span WARENKORB
        article.cart-table
            table.table
                tr.table__header
                    th(colspan="2") Artikel
                    th Lieferzeit
                    th Menge
                    th.t-ar Einzelpreis
                    th(colspan="2").t-ar Betrag
                tr.table__content
                    td.table__image
                        img(src="/img/product5.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
                tr.table__content
                    td.table__image
                        img(src="/img/product7.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
                tr.table__content
                    td.table__image
                        img(src="/img/product6.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
        article.cart-final.df
            .cart-final__block
                h2.header
                    span VORAUSSICHTLICHER VERSAND DIESES ARTIKELS:
                .text
                    span Freitag, 01.04.2016 - Sonntag, 03.04.2016
                    span Bei Vorkassezahlung 2-4 Werktage nach Zahlungseingang.
            .cart-final__block.cart-final__block--large
                .price.df--b
                    span.price__header Gesamtpreis
                    span.price__value 56.10 €
                .price.df--b
                    span.price__header Preis ohne MwSt
                    span.price__value 56.10 €
                .price.df--b
                    span.price__header
                      b *
                      | Versandkosten
                    span.price__value 0 €
                .price.df--b
                    span.price__header Zahlungsbetrag, Steuern inklusive
                    .price__final.t-ar
                        span.price__final-value 114.10 €
                        span.price__final-info inkl. gesetzlicher MwSt.
                .price.t-ar.df--b
                    button(type="button").price__button.price__button--transparent Warenkorb aktualisieren
                    button(type="button").price__button JETZT KAUFEN
                .price
                  p.price__clarification.
                    Gutscheincodes können Sie im letzten Bestellschritt "Bestätigen" einlösen
                  p.price__clarification
                    b * Bitte beachten:
                    | Falls Sie schwere Fracht erwarten, muss der Preis von unserer Auslieferung sabteilung genehmigt werden. Wir halten Sie darüber auf dem Laufenden.
