section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") Haustiershop Marken
                li: a(href="#") Warenkorb

        article.progress-bar
            h1.progress-bar__header
                span SICHERE VERBINDUNG
            ul.progress-bar__list.df-c
                li.progress-bar__element.df-c.active-element.active-element-pass
                    a(href="#").progress-bar__element-sub.df-cc
                        span WARENKORB
                li.progress-bar__element.df-c.active-element
                    .active-border
                    .progress-bar__element-sub.df-cc
                        .progress-bar__element-number.df-cc
                            span 2
                        span ANMELDEN
                li.progress-bar__element.df-c
                    .progress-bar__element-sub.df-cc
                        span RECHNUNG & LIEFERUNG
                li.progress-bar__element.df-c
                    .progress-bar__element-sub.df-cc
                        span ZAHLUNG & BESTELLUNG
        article.main-form
            .main-form__sex.df-c
                span.header Anrede
                input(type="radio" name="sex" id="sex1").input
                label(for="sex1").label
                    span Herr
                input(type="radio" name="sex" id="sex2").input
                label(for="sex2").label
                    span Frau
                input(type="radio" name="sex" id="sex3").input
                label(for="sex3").label
                    span Firma
            .main-form__columns.df
                .column
                    label(for="vorname").column__label
                        span Vorname*
                    input(type="text" id="vorname").column__input
                    label(for="firma").column__label
                        span Firma*
                    input(type="text" id="firma").column__input
                    label(for="ust").column__label
                        span USt-IdNr.*
                    .select-wrapper.df
                        select.js-cart-select2
                            option
                            option
                            option
                                span: img(src="/img/flags/deu.png").image
                        input(type="text" id="telefon").column__input-small
                    label(for="strabe").column__label
                        span Straße*
                    input(type="text" id="strabe").column__input
                    label(for="adresszusatz").column__label
                        span Adresszusatz
                    input(type="text" id="adresszusatz").column__input.column__input-sub
                    .column__label-sub
                        span Die Angabe einer DHL-Packstation ist nicht zulässig!
                    label(for="stadt").column__label
                        span Stadt*
                    input(type="text" id="stadt").column__input
                .column
                    label(for="nachname").column__label
                        span Nachname*
                    input(type="text" id="nachname").column__input
                    label(for="steuernummer").column__label
                        span Steuernummer
                    input(type="text" id="steuernummer").column__input
                    label(for="hausnummer").column__label
                        span Hausnummer*
                    input(type="text" id="hausnummer").column__input
                    label(for="postleitzahl").column__label
                        span Postleitzahl*
                    input(type="text" id="postleitzahl").column__input
                    label(for="land").column__label
                        span Land*
                    select.column__select.js-cart-select
                        option Deutschland
                        option Ukraine
                        option Something
                    label(for="telefon").column__label.w100p
                        span Telefon*
                    .select-wrapper.df
                        select.js-cart-select3
                            option
                            option
                            option
                                span: img(src="/img/flags/deu.png").image
                        .column__input-pre.df-cc
                            span +049
                        input(type="text" id="telefon").column__input-small

            .main-form__info-mark.df-c
                input(type="checkbox" id="news").input
                label(for="news").label
                    span Lieferung ebenfalls an diese Adresse
                span * Pflichtfelder
            .main-form__submit-block.df-cb
                button(type="button").big-orange-btn.big-orange-btn--invert ZURÜCK
                button(type="button").big-orange-btn WEITER