section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") Haustiershop Marken
                li: a(href="#") Warenkorb

        article.progress-bar
            h1.progress-bar__header
                span SICHERE VERBINDUNG
            ul.progress-bar__list.df-c
                li.progress-bar__element.df-c.active-element.active-element-pass
                    a(href="#").progress-bar__element-sub.df-cc
                        span WARENKORB
                li.progress-bar__element.df-c.active-element.active-element-pass
                    a(href="#").progress-bar__element-sub.df-cc
                        span ANMELDEN
                li.progress-bar__element.df-c.active-element.active-element-pass
                    a(href="#").progress-bar__element-sub.df-cc
                        span RECHNUNG & LIEFERUNG
                li.progress-bar__element.df-c.active-element
                    .progress-bar__element-sub.df-cc
                        .progress-bar__element-number.df-cc
                            span 4
                        span ZAHLUNG & BESTELLUNG
        article.reg-info
            ul.reg-info__list.df
                li.reg-info__element
                    p.reg-info__text.reg-info--text-margin Ich habe die &#32
                        a(href="#").reg-info__text-link AGB
                        |  und die &#32
                        a(href="#").reg-info__text-link Datenschutz
                        |  des Anbieters gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis.

                    p.reg-info__text Die &#32
                        a(href="#").reg-info__text-link Widerrufsbelehrung
                        |  habe ich zur Kenntnis genommen.
                li.reg-info__element.df
                    h3.reg-info__header.reg-info--text-margin
                        span RECHNUNGS UND LIEFERADRESSE
                    p.reg-info__text.reg-info--text-margin.
                        Herr Jonny Cash 1121 Washington Ave 1121 Washington Ave New Orleans La Réunion (FR) 70130
                    .reg-info__link-block
                        a(href="#").reg-info__link
                            i.material-icons border_color
                            | ÄNDERN
                li.reg-info__element.df
                    h3.reg-info__header.reg-info--text-margin
                        span ZAHLUNGSMETHO
                    p.reg-info__text.reg-info--text-margin.
                        Vorkasse
                    .reg-info__link-block
                        a(href="#").reg-info__link
                            i.material-icons border_color
                            | ÄNDERN
        article.cart-table
            table.table
                tr.table__header
                    th(colspan="2") Artikel
                    th Lieferzeit
                    th Menge
                    th.t-ar Einzelpreis
                    th(colspan="2").t-ar Betrag
                tr.table__content
                    td.table__image
                        img(src="/img/product5.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
                tr.table__content
                    td.table__image
                        img(src="/img/product7.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
                tr.table__content
                    td.table__image
                        img(src="/img/product6.png" alt="#").image
                    td.table__product-info
                        h3.header
                            span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                        .article
                            span Art.-Nr.: 11153
                        .stars.df-c
                            .active
                                span ★★
                            .not-active
                                span ☆☆☆
                    td.table__packedge
                        span Sofort versandfertig, Lieferzeit ca.
                        span 1-3 Werktage
                    td.table__value-wrapper
                        .table__value
                            input(type="text" placeholder="2").input
                            .arrow
                    td.table__old-price.t-ar
                        span €29.90
                    td.table__price-wrapper.t-ar
                        span.table__price €26.70
                        span.table__price-info Du sparst 9%
                    td.table__remove
                        a(href="#"): i.material-icons close
        article.cart-final.df
            .cart-final__block
                h2.header
                    span VORAUSSICHTLICHER VERSAND DIESES ARTIKELS:
                .text
                    span Freitag, 01.04.2016 - Sonntag, 03.04.2016
                    span Bei Vorkassezahlung 2-4 Werktage nach Zahlungseingang.
            .cart-final__block
                h2.header
                    span GUTSCHEIN EINLÖSEN
                .text
                    span Falls Sie einen gültigen Gutschein einlösen wollen, geben Sie hier den Gutscheincode ein.
                .subs.df--b
                    input(type="text").subs__input
                    button(type="button").subs__button EINLÖSEN
                .price__final-info
                    span Sie können nur einen Gutscheincode pro Bestellung einlösen.
            .cart-final__block
                .price.df--b
                    span.price__header Gesamtpreis
                    span.price__value 56.10 €
                .price.df--b
                    span.price__header Preis ohne MwSt
                    span.price__value 56.10 €
                .price.df--b
                    span.price__header Versandkosten
                    span.price__value 0 €
                .price.df--b
                    span.price__header Zahlungsbetrag, Steuern inklusive
                    .price__final.t-ar
                        span.price__final-value 114.10 €
                        span.price__final-info inkl. gesetzlicher MwSt.
                .price.t-ar
                    button(type="button").price__button JETZT KAUFEN
