section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home

        article.cart-body
            .order
                h1.order__header
                    span VIELEN DANKE FÜR IHRE BESTELLUNG!
                .order__image
                    i.material-icons done
                h2.order__sub-header
                    span Danke für Ihren Einkauf!
                .order__info
                    span Ihr Auftrag wurde erfolgreich aufgenommen und wird so schnell wie möglich bearbeitet.
                    span Die Auftragsnummer lautet
                .order__number
                    span 4088604858
                .order__text
                    p.
                        In Kürze erhalten Sie unter der von Ihnen angegebenen E-Mail-Adresse eine Bestellbestätigung
                        des Anbieters mit den weiteren Informationen zut Ihrem Auftrag. Wir freuen uns auf Ihren
                        erneuten Besuch!
