section.main-block
    article.breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item: a(href="#").breadcrumbs__link Tiershop Toptierbedaf
            li.breadcrumbs__item: a(href="#").breadcrumbs__link Haustiershop Marken
            li.breadcrumbs__item: a(href="#").breadcrumbs__link 8in1 Tierbedarf
    article.raiting
        h3.raiting__header
            span TIERBEDARF VON 8IN1
        .raiting__wrapper.df--b
            .raiting__main
                .raiting__image
                    img(src="/img/8in1.png" alt="#").image
                .raiting__number
                    span 5.0
                .raiting__stars
                    .active
                        span ★★★★★
                .raiting__total
                    span 1828
                    span  total
            .raiting__info
                .raiting__info-text
                    p.
                        8in1 Haustierbedarf Hersteller stellt sich vor. Hier erfahren Sie mehr über die Marke
                        8in1 und die hergestellten Produkte für Haustiere. Zoobio bietet Ihnen günstige
                        Angebote auf alle Artikel von Tiernahrungshersteller 8in1.
                .stats
                    .stats__element.df-c
                        .stats__number
                            span 5
                        .stats__star
                            span ★
                        .stats__length.df-c.stats--green
                            span 1000
                    .stats__element.df-c
                        .stats__number
                            span 4
                        .stats__star
                            span ★
                        .stats__length.df-c.stats--lgreen
                            span 480
                    .stats__element.df-c
                        .stats__number
                            span 3
                        .stats__star
                            span ★
                        .stats__length.df-c.stats--yellow
                            span 212
                    .stats__element.df-c
                        .stats__number
                            span 2
                        .stats__star
                            span ★
                        .stats__length.df-c.stats--orange
                            span 99
                    .stats__element.df-c
                        .stats__number
                            span 1
                        .stats__star
                            span ★
                        .stats__length.df-c.stats--red
                            span 37
                .raiting__info-text-small
                    p.
                        Teilen Sie Ihre Erfahrungen mit 8in1 Produkten. Durch Ihren Erfahrungsaustausch
                        erleichtern Sie anderen Zoobio Kunden die Produktauswahl.
    article.links-8in1
        ul.links-8in1__list.df--b.dfw
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Hundekauartikel
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Training & Hundesportartikel
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Zahnpflege Kausnacks für Hunde
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Hundekekse & Hundekuchen
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Vitamine und Mineralstoffe für Hunde
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Hunde Augen & Ohrenpflege Artikel
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Hundeshampoo & Fellpflege
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Hundetoilette & Kotbeutel
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Wildvögel Bedarf
                    .main-arrow
            li.links-8in1__element-wrapper
                a(href="#").links-8in1__elememnt
                    span 8in1 Wildvogelfutter
                    .main-arrow
    article.products-main.dfw
        .products-main__prev.df-cc
            i.material-icons keyboard_arrow_left
        .products-main__next.df-cc
            i.material-icons keyboard_arrow_right
        h3.products-main__header
            span 8IN1 HAUSTIERBEDARF ONLINE SHOP
        .products-main__content.df
            ul.products-main__list.df--b.dfw
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text 
                                | SALE 
                                br
                                | -10%
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner
                            span.sale-corner__text
                                | SALE 
                                br
                                | -10%
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                            span NATURAL
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                            span NATURAL
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                            span NATURAL
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span 8in1 Delights Beef
                            .products-main__element-info
                                div Kauknochen L 85g
                                div Art.-Nr.: 7100
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein

    article.main-block__sub-info
        p
        |    * Preise inkl. gesetzlicher MwSt. zzgl.&ensp;
        a(href="#").main-block__sub-info-link Versand
