.main-body
    .main-wrapper.main-menu-margin.df--b.dfw
        aside.aside-block
            ul.aside-nav
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header HUNDESHOP
                        .main-arrow.hidden
                    ul.aside-nav-sub
                        li.aside-nav-sub__element
                            a(href="#") Hundefutter
                        li.aside-nav-sub__element
                            a(href="#") Hundeboxen & Autozubehör
                        li.aside-nav-sub__element
                            a(href="#") Hundeschlafplatz
                        li.aside-nav-sub__element
                            a(href="#") Training & Hundesportartikel
                        li.aside-nav-sub__element
                            a(href="#") Leinen & Halsbänder
                        li.aside-nav-sub__element
                            a(href="#") Hundespielzeug
                        li.aside-nav-sub__element
                            a(href="#")
                                span Alle
                                .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header KATZENSHOP
                        .main-arrow.hidden
                    ul.aside-nav-sub
                        li.aside-nav-sub__element
                            a(href="#") Katzenfutter
                        li.aside-nav-sub__element
                            a(href="#") Tränken & Fressnäpfe
                        li.aside-nav-sub__element
                            a(href="#") Kratzbaum & Kratzmöbel
                        li.aside-nav-sub__element
                            a(href="#") Katzen Schlafplatz
                        li.aside-nav-sub__element
                            a(href="#") Pflege und Hygieneartikel
                        li.aside-nav-sub__element
                            a(href="#") Transportzubehör
                        li.aside-nav-sub__element
                            a(href="#")
                                span Alle
                                .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header VOGELSHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header KLEINTIER SHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header AQUARIUM SHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header PFERDESHOP
                        .main-arrow
                li.aside-nav__element
                    a(href="#").aside-nav__title.df-cb
                        span.aside-nav__header TERRARISTIK SHOP
                        .main-arrow
            article.products__ad
                img(src="/img/ad-slot1.jpg" alt="#").ad-image
                .header.df-c
                    .percent.df-cc
                        span 10%
                    h2.text
                        span Rabatt
                .info
                    .info__main
                        span Auf Ihre Bestellung
                    .info__text
                        span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
            article.products__ad
                .ad-form
                    h2.ad-form__header
                        span Angebote & Rabatte sichern!
                    .ad-form__text
                        p.
                            Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                            Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                            alles rund um die
                    input(type="text" placeholder="E-Mail Adresse hier eingeben").ad-form__input
                    button(type="button").ad-form__button ABONNIEREN
        section.main-block
            article.breadcrumbs
                ul.breadcrumbs__list
                    li: a(href="#") Tiershop Toptierbedaf
                    li: a(href="#") Haustiershop Marken
                    li: a(href="#") 8in1 Tierbedarf
            article.raiting
                h3.main-block__header
                    span TIERBEDARF VON 8IN1
                .raiting__wrapper.df--b
                    .raiting__main
                        .raiting__image
                            img(src="/img/8in1.png" alt="#").image
                        .raiting__number
                            span 5.0
                        .raiting__stars
                            .active
                                span ★★★★★
                        .raiting__total
                            span 1828
                            span  total
                    .raiting__info
                        .raiting__info-text
                            p.
                                8in1 Haustierbedarf Hersteller stellt sich vor. Hier erfahren Sie mehr über die Marke
                                8in1 und die hergestellten Produkte für Haustiere. Zoobio bietet Ihnen günstige
                                Angebote auf alle Artikel von Tiernahrungshersteller 8in1.
                        .stats
                            .stats__element.df-c
                                .stats__number
                                    span 5
                                .stats__star
                                    span ★
                                .stats__length.df-c.stats--green
                                    span 1000
                            .stats__element.df-c
                                .stats__number
                                    span 4
                                .stats__star
                                    span ★
                                .stats__length.df-c.stats--lgreen
                                    span 480
                            .stats__element.df-c
                                .stats__number
                                    span 3
                                .stats__star
                                    span ★
                                .stats__length.df-c.stats--yellow
                                    span 212
                            .stats__element.df-c
                                .stats__number
                                    span 2
                                .stats__star
                                    span ★
                                .stats__length.df-c.stats--orange
                                    span 99
                            .stats__element.df-c
                                .stats__number
                                    span 1
                                .stats__star
                                    span ★
                                .stats__length.df-c.stats--red
                                    span 37
                        .raiting__info-text-small
                            p.
                                Teilen Sie Ihre Erfahrungen mit 8in1 Produkten. Durch Ihren Erfahrungsaustausch
                                erleichtern Sie anderen Zoobio Kunden die Produktauswahl.
            article.links-8in1
                ul.links-8in1__list.df--b.dfw
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Hundekauartikel
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Training & Hundesportartikel
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Zahnpflege Kausnacks für Hunde
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Hundekekse & Hundekuchen
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Vitamine und Mineralstoffe für Hunde
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Hunde Augen & Ohrenpflege Artikel
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Hundeshampoo & Fellpflege
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Hundetoilette & Kotbeutel
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Wildvögel Bedarf
                            .main-arrow
                    li.links-8in1__element-wrapper
                        a(href="#").links-8in1__elememnt
                            span 8in1 Wildvogelfutter
                            .main-arrow
            article.products__main.df
                .list-prev.df-cc
                    i.material-icons keyboard_arrow_left
                .list-next.df-cc
                    i.material-icons keyboard_arrow_right
                h3.header
                    span 8IN1 HAUSTIERBEDARF ONLINE SHOP
                .content.df
                    ul.list.df--b.dfw
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                                    br
                                    span -10%
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                                    br
                                    span -10%
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Pork Twisted Sticks 35
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Pork Twisted Sticks 35
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Pork Twisted Sticks 35
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Pork Twisted Sticks 35
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                                    br
                                    span -10%
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein

                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .natural-corner
                                span NATURAL
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span 8in1 Delights Beef
                            .element__info
                                span Kauknochen L 85g
                                span Art.-Nr.: 7100
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb

            article.main-block__sub-info
                p
                |    * Preise inkl. gesetzlicher MwSt. zzgl.&ensp;
                a(href="#").main-block__sub-info-link Versand