.index-page
  @import 'index-banner'
  @import 'index-content'
  @import 'aside'
  @import 'index-products'
  @import 'main-promo'


  .main-wrapper
    width 1100px
    margin 0 auto
    padding 0 10px
    display flex
    justify-content space-between
    flex-wrap wrap
    &--index
      top -15px
      position relative
      background-color white
