.products-main
  margin-bottom 35px
  flex-direction column
  position relative
  &:last-of-type
    margin-bottom 20px
  &__prev
    position absolute
    content ''
    top 0
    right 30px
    height 15px
    width 15px
    border 1px solid c_lgray
    border-radius 3px
    cursor pointer
    transition all .2s ease
    &:hover
      border 1px solid c_gray
    & .material-icons
      color c_black
      font-size 18px
      font-weight bold
  &__next
    position absolute
    content ''
    top 0
    right 0
    height 15px
    width 15px
    border 1px solid c_lgray
    border-radius 3px
    cursor pointer
    transition all .2s ease
    &:hover
      border 1px solid c_gray
    & .material-icons
      color c_black
      font-size 18px
      font-weight bold
  &__header
    padding-right 50px
    box-sizing border-box
    font-family r_bold
    font-size 18px
    width 100%
  &__content
    margin-left 15px
    width 100%
  &__list
    flex 1
    overflow hidden
    margin-top 15px
    .slick-list
      height 302px
    .slick-track
      height 100%
  &__element
    position relative
    min-height 302px
    width 150px
    margin-right 56px
    &:hover
      & .products-main__hover
        display block
    &:nth-child(4n)
      & .products-main__hover
        left -216px
        padding-right 8px
        width 216px
    &-visible
      min-height 302px
      display flex
      flex-direction column
      justify-content space-between
      position relative
    &-image
      height 120px
      min-height 120px
      width 100%
      text-align center
      margin-bottom 15px
    &-header
      width 100%
      font-family r_black
      font-size 14px
      margin-bottom 5px
    &-info
      font-family r_reg
      font-size 12px
      color c_gray
      margin-bottom 5px
    &-stars
      margin 5px 0
      & .stars-active
        font-size 14px
        color c_yellow
      & .stars-not-active
        font-size 14px
        color c_gray
    &-price
      font-family r_black
      font-size 18px
      margin-bottom 5px
    &-button
      height 35px
      font-family r_black
      font-size 14px
      color white
      background-color c_orange
      border 1px solid c_orange
      border-radius 2px
      transition all .2s ease
      &:hover
        background-color white
        color c_black
  &__hover
    display none
    position absolute
    top 0
    left 149px
    padding-left 8px
    box-sizing border-box
    height 100%
    width 208px
    z-index 2
    &-container
      flex-direction column
      height 100%
      width 100%
      padding 5px
      box-sizing border-box
      background-color c_lgray
    &-header
      margin-bottom 10px
    &-brand
      flex 1
      flex-wrap wrap
    &-buttons
      min-width 60px
      width 60px
      &-block
        flex-wrap wrap
      &-image
        margin-bottom 5px
        height 25px
        width 25px
        border 1px solid c_gray
        border-radius 2px
        color c_orange
        transition all .2s ease
        & i
          font-size 18px
        &:hover
          border 1px solid c_orange
    &-status
      &-block
        margin-top 5px
      &-header
        font-family r_reg
        font-size 12px
        color c_black
      &-info
        font-family r_reg
        font-size 12px
        color c_green
    &-info
      flex 1
      overflow-y scroll
      flex-wrap wrap
      &-block
        width 50%
        font-family r_med
        font-size 12px
        margin-bottom 10px
      &-block-big
        width 100%
        font-family r_med
        font-size 12px
        margin-bottom 5px
.sale-corner
  position absolute
  top 0
  content ''
  width 100%
  padding 7px
  box-sizing border-box
  font-family r_black
  font-size 10px
  color c_black
  &__text
    position relative
    z-index 1
  &::before
    position absolute
    content ''
    top 0
    left 0
    border 15px solid transparent
    border-left 15px solid c_orange
    border-top 15px solid c_orange
  &--big
    padding 15px
    left 0
    & .sale-corner__text
      font-size 26px
    &::before
      border 35px solid transparent
      border-left 35px solid c_orange
      border-top 35px solid c_orange
.natural-corner
  position absolute
  top 0
  content ''
  width 100%
  padding 7px
  box-sizing border-box
  font-family r_black
  font-size 10px
  color c_black
  &__text
    position relative
    z-index 1
  &::before
    position absolute
    content ''
    top 0
    left 0
    border 15px solid transparent
    border-left 15px solid c_bgreen
    border-top 15px solid c_bgreen
.new-corner
  position absolute
  top 0
  content ''
  width 100%
  padding 7px
  box-sizing border-box
  font-family r_black
  font-size 10px
  color c_black
  &__text
    position relative
    z-index 1
  &::before
    position absolute
    content ''
    top 0
    left 0
    border 15px solid transparent
    border-left 15px solid c_bblue
    border-top 15px solid c_bblue
