.index-page
  @import 'index-banner'
  @import 'index-content'
  @import 'aside'
  @import 'index-products'
  @import 'main-promo'


  .main-wrapper
    width 1100px
    margin 0 auto
    padding 0 10px
    display flex
    justify-content space-between
    flex-wrap wrap
    top -15px
    position relative
    background-color white

  .main-block
    width 785px
