aside.aside-block
  article.aside-filter
    form(action="#" method="get")
      .filter__fieldset
        .filter__legend FILTERN NACH KATEGORIE:
        .filter__type
          span.filter__type-name Hund
          ul.filter__list
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product8" name="product8").input
                label(for="product8").label: span Trockenfutter
              span.filter__list-numbers (10)
        .filter__type
          span.filter__type-name Katz
          ul.filter__list.filter__list--with-border
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product1" name="product1").input
                label(for="product1").label: span Nassfutter
              span.filter__list-numbers (1823)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product2" name="product2").input
                label(for="product2").label: span Spezialfutter & Nahrungsergänzung
              span.filter__list-numbers (41)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product3" name="product3").input
                label(for="product3").label: span Trockenfutter
              span.filter__list-numbers (934)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product4" name="product4").input
                label(for="product4").label: span Snacks & Leckerlis
              span.filter__list-numbers (135)
            li.filter__item.df
              .filter__list-label.df
                label(for="product5").label: span Kitten & Katzenbabys Produkte
                input(class="input" type="checkbox" id="product5" name="product5").input
              span.filter__list-numbers (2)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product6" name="product6").input
                label(for="product6").label: span Nieren & Harnstein
              span.filter__list-numbers (40)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product7" name="product7").input
                label(for="product7").label: span Katzenmilch
              span.filter__list-numbers (10)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product9" name="product9").input
                label(for="product9").label: span Kitten & Katzenbabys Produkte
              span.filter__list-numbers (2)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product11" name="product11").input
                label(for="product11").label: span Nieren & Harnstein
              span.filter__list-numbers (40)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product12" name="product12").input
                label(for="product12").label: span Katzenmilch
              span.filter__list-numbers (10)
        .filter__type
          span.filter__type-name Kleintiere
          ul.filter__list
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="product10" name="product10").input
                label(for="product10").label: span Trockenfutter
              span.filter__list-numbers (3)
      .filter__fieldset
        .filter__legend FILTERN NACH MARKE:
        .filter__type
          ul.filter__list
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand1" name="brand1").input
                label(for="brand1").label: span Royal Canin Size
              span.filter__list-numbers (5)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand2" name="brand2").input
                label(for="brand2").label: span Bosch
              span.filter__list-numbers (61)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand3" name="brand3").input
                label(for="brand3").label: span Josera
              span.filter__list-numbers (27)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand4" name="brand4").input
                label(for="brand4").label: span Bozita
              span.filter__list-numbers (45)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand5" name="brand5").input
                label(for="brand5"): span Royal Canin Breed
              span.filter__list-numbers (1)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand6" name="brand6").input
                label(for="brand6").label: span Almo Nature - Holistic
              span.filter__list-numbers (13)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand7" name="brand7").input
                label(for="brand7").label: span Hill's Science Plan
              span.filter__list-numbers (63)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand9" name="brand9").input
                label(for="brand9").label: span Hill's Prescription Diet Canine
              span.filter__list-numbers (1)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand10" name="brand10").input
                label(for="brand10").label: span Taste of the Wild
              span.filter__list-numbers (17)
            li.filter__item.df
              .filter__list-label.df
                input(class="input" type="checkbox" id="brand11" name="brand11").input
                label(for="brand11").label: span Purina Pro Plan
              span.filter__list-numbers (14)
  article.aside-special-offers
      img(src="/img/ad-slot1.jpg" alt="#").ad-image
      .aside-special-offers__header.df-c
          .aside-special-offers__percent.df-cc
              span 10%
          .aside-special-offers__text
              span Rabatt
      .aside-special-offers__info
          .aside-special-offers__info-main
              span Auf Ihre Bestellung
          .aside-special-offers__info-text
              span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
  article.aside-registration
      .aside-registration__form
          h2.aside-registration__header
              span Angebote & Rabatte sichern!
          .aside-registration__text
              p.
                  Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                  Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                  alles rund um die
          input(type="text" placeholder="E-Mail Adresse hier eingeben").aside-registration__input
          button(type="button").aside-registration__button ABONNIEREN
