.main-body
    .main-wrapper.main-menu-margin.df--b.dfw
        aside.aside-block
            .aside-filter
              form(action="#" method="get")
                .filter__fieldset
                  .filter__legend FILTERN NACH KATEGORIE:
                  .filter__type
                    span.filter__type-name Hund
                    ul.filter__list
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product8" name="product8")
                          label(for="product8"): span Trockenfutter
                        span.filter__list-numbers (10)
                  .filter__type
                    span.filter__type-name Katz
                    ul.filter__list.filter__list--with-border
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product1" name="product1")
                          label(for="product1"): span Nassfutter
                        span.filter__list-numbers (1823)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product2" name="product2")
                          label(for="product2"): span Spezialfutter & Nahrungsergänzung
                        span.filter__list-numbers (41)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product3" name="product3")
                          label(for="product3"): span Trockenfutter
                        span.filter__list-numbers (934)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product4" name="product4")
                          label(for="product4"): span Snacks & Leckerlis
                        span.filter__list-numbers (135)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product5" name="product5")
                          label(for="product5"): span Kitten & Katzenbabys Produkte
                        span.filter__list-numbers (2)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product6" name="product6")
                          label(for="product6"): span Nieren & Harnstein
                        span.filter__list-numbers (40)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product7" name="product7")
                          label(for="product7"): span Katzenmilch
                        span.filter__list-numbers (10)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product9" name="product9")
                          label(for="product9"): span Kitten & Katzenbabys Produkte
                        span.filter__list-numbers (2)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product11" name="product11")
                          label(for="product11"): span Nieren & Harnstein
                        span.filter__list-numbers (40)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product12" name="product12")
                          label(for="product12"): span Katzenmilch
                        span.filter__list-numbers (10)
                  .filter__type
                    span.filter__type-name Kleintiere
                    ul.filter__list
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="product10" name="product10")
                          label(for="product10"): span Trockenfutter
                        span.filter__list-numbers (3)
                .filter__fieldset
                  .filter__legend FILTERN NACH MARKE:
                  .filter__type
                    ul.filter__list
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand1" name="brand1")
                          label(for="brand1"): span Royal Canin Size
                        span.filter__list-numbers (5)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand2" name="brand2")
                          label(for="brand2"): span Bosch
                        span.filter__list-numbers (61)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand3" name="brand3")
                          label(for="brand3"): span Josera
                        span.filter__list-numbers (27)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand4" name="brand4")
                          label(for="brand4"): span Bozita
                        span.filter__list-numbers (45)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand5" name="brand5")
                          label(for="brand5"): span Royal Canin Breed
                        span.filter__list-numbers (1)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand6" name="brand6")
                          label(for="brand6"): span Almo Nature - Holistic
                        span.filter__list-numbers (13)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand7" name="brand7")
                          label(for="brand7"): span Hill's Science Plan
                        span.filter__list-numbers (63)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand9" name="brand9")
                          label(for="brand9"): span Hill's Prescription Diet Canine
                        span.filter__list-numbers (1)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand10" name="brand10")
                          label(for="pbrand1"): span Taste of the Wild
                        span.filter__list-numbers (17)
                      li.filter__item.df
                        .filter__list-label.df
                          input(class="input" type="checkbox" id="brand11" name="brand11")
                          label(for="brand11"): span Purina Pro Plan
                        span.filter__list-numbers (14)
            article.products__ad
                img(src="/img/ad-slot1.jpg" alt="#").ad-image
                .header.df-c
                    .percent.df-cc
                        span 10%
                    h2.text
                        span Rabatt
                .info
                    .info__main
                        span Auf Ihre Bestellung
                    .info__text
                        span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
            article.products__ad
                .ad-form
                    h2.ad-form__header
                        span Angebote & Rabatte sichern!
                    .ad-form__text
                        p.
                            Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                            Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                            alles rund um die
                    input(type="text" placeholder="E-Mail Adresse hier eingeben").ad-form__input
                    button(type="button").ad-form__button ABONNIEREN
        section.main-block
            article.filter
                div.filter__search.df
                    i.material-icons.filter__search-image search
                    div.filter__search-text SUCHERGEBNISSE:
                      span.filter__search-numbers 3435
                .filter__select-block.df
                    .filter__select-type.df
                      label(for="filter").filter__label
                          span Sortieren nach:
                      select.filter__select.js-cart-select4
                          option Topseller
                          option Topseller
                          option Topseller
                    .filter__select-quantity.df
                      label(for="quantity").filter__label
                          span Pro Seite:
                      select.filter__select.filter__select--small.js-cart-select4
                          option 10
                          option 16
                          option 50
                    .filter__select-view
                        span Produktansicht:
                        button(type="button").filter__button.filter__button--cards.filter__button--active cards
                          i.material-icons apps
                        button(type="button").filter__button.filter__button--list list
                          i.material-icons view_list
                .filter__stock
                  label(for="stock").column__label
                      span auf Lager
                  input(class="input" type="checkbox" id="stock" name="stock")

            article.products__main.df
                .content.df
                    ul.list.df--b.dfw
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .natural-corner
                                span NATURAL
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .sale-corner
                                span SALE
                            .element__image.df-cc.df-cc
                                img(src="/img/product1.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .natural-corner
                                span NATURAL
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product3.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                        li.element.df
                            .hover.hidden
                                .hover__container.df
                                    .hover__header.df
                                        .hover__brand.df-cc
                                            a(href="#"): img(src="/img/brand1.png" alt="#").image
                                        .hover__buttons
                                            .buttons-block.df-cb
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons favorite
                                                a(href="#").buttons-block__image.df-cc
                                                    i.material-icons remove_red_eye
                                            .status-block
                                                .status-block__header
                                                    span Status
                                                .status-block__info
                                                    span auf Lager
                                    .hover__info.df
                                        .hover__info-block
                                            span Marke:
                                        .hover__info-block
                                            span Pedigree
                                        .hover__info-block
                                            span Produkttyp:
                                        .hover__info-block
                                            span Hunde Kekse und Kuchen
                                        .hover__info-block
                                            span Lebensalter:
                                        .hover__info-block
                                            span für jedes Alter
                                        .hover__info-block
                                            span Hunderassen:
                                        .hover__info-block
                                            span für große Hunde
                                        .hover__info-block-big
                                            span Lieferumfang:
                                        .hover__info-block-big
                                            span.
                                                Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                                Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                                Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                            .new-corner
                                span NEW
                            .element__image.df-cc.df-cc
                                img(src="/img/product2.png" alt="#").image
                            h6.element__header
                                span Brit JUNIOR LARGE BREED
                            .element__info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .element__stars.df-c
                                .active
                                    span ★★
                                .not-active
                                    span ☆☆☆
                            .element__price
                                span €12.00
                            button(type="button").element__button In den Warenkorb
                .pagination
                    ul.pagination__list.df
                      li
                        a(href="#").pagination__link.pagination__link--active 1
                      li
                        a(href="#").pagination__link 2
                      li
                        a(href="#").pagination__link 3
                      li
                        a(href="#").pagination__link 4
                      li
                        a(href="#").pagination__link 5
                      li
                        a(href="#").pagination__link 6...
                      li
                        a(href="#").pagination__link.pagination__link--arrows
                          i.material-icons navigate_next
                      li
                        a(href="#").pagination__link.pagination__link--arrows
                          i.material-icons last_page
