aside.aside-block
    .aside-block__header
        span.aside-nav__header HUNDESHOP
    .aside-nav
        ul.aside-nav-sub
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundefutter
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundeboxen & Autozubehör
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundeschlafplatz
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Training & Hundesportartikel
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Leinen & Halsbänder
            li.aside-nav-sub__element.aside-nav-sub__element--active
                a(href="#").aside-nav-sub__link Hundespielzeug
                ul.aside-nav-sub__category
                    li.aside-nav-sub__category-element.aside-nav-sub__category-element--active
                      a(href="#").aside-nav-sub__category-link Hunde Quietschies
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Schwimmspielzeug
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Intelligenzspielzeug
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Bälle & Ringe
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Hundefrisbees
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Kauspielzeug
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Kuscheltiere
                    li.aside-nav-sub__category-element
                      a(href="#").aside-nav-sub__category-link Welpenspielzeug
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Napf & Tränke
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundepflege & Hygiene
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundehütte & Freilauf
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Hundebekleidung
            li.aside-nav-sub__element
                a(href="#").aside-nav-sub__link Junge Hunde & Welpenartikel
    article.aside-special-offers
        img(src="/img/adslot1.jpg" alt="#").ad-image
        .aside-special-offers__header.df-c
            .aside-special-offers__percent.df-cc
                span 10%
            .aside-special-offers__text
                span Rabatt
        .aside-special-offers__info
            .aside-special-offers__info-main
                span Auf Ihre Bestellung
            .aside-special-offers__info-text
                span Erfahren Sie Nutzliches, Kaufen Sie Billiger!
    article.aside-blog
        img(src="/img/adslot2.jpg" alt="#").aside-blog__image
    article.aside-registration
        .aside-registration__form
            h2.aside-registration__header
                span Angebote & Rabatte sichern!
            .aside-registration__text
                p.
                    Dann sind Sie bei uns genau richtig. Wir bieten Ihnen zahlreiche Produkte aus dem Bereich
                    Tierbedarf. So finden Sie in unserem Sortiment ebenfalls erstklassige Artikel für Nager,
                    alles rund um die
            input(type="text" placeholder="E-Mail Adresse hier eingeben").aside-registration__input
            button(type="button").aside-registration__button ABONNIEREN
