section.main-block
    article.breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Hundeprodukte
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Hundespielzeuge
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Quietschies für Hunde
    article.oshop-block
        h3.oshop-block__header
            span Hunde Quietschies
        .oshop-block__text
            p.
                Hunde Quietschies sind die ideale Lösung, um gemeinsam
                mit den Hunden viele spannende Spielstunden zu erleben.
                Hergestellt aus hochwertigen Materialien handelt es sich
                um ein Hundespielzeug, das hält, was es verspricht. Dank der
                quietschenden Geräusche werden die Hunde zum Spielen angeregt.
                Zusätzlich ist dank der großen Auswahl ist für jeden Geschmack
                das perfekte Hunde Quietschie zu finden.
    article.market-brands
        h2.market-brands__header
            span HAUSTIERBEDARF TOP MARKEN
        ul.market-brands__list.df-cb
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands1.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands2.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands3.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands4.jpg" alt="#").image
            li
                a(href="#").market-brands__element.df-cc
                    img(src="/img/market-brands5.jpg" alt="#").image
    article.filter.df
        .filter__select-block.df
            .filter__select-type.df
              label(for="filter").filter__label
                  span Sortieren nach:
              select.filter__select.js-cart-select4
                  option Topseller
                  option Topseller
                  option Topseller
            .filter__select-type.filter__select-type--brand.df
              label(for="filter").filter__label
                  span Marken:
              select.filter__select.js-cart-select4
                  option Marke
                  option Marke
                  option Marke
            .filter__select-quantity.df
              label(for="quantity").filter__label
                  span Pro Seite:
              select.filter__select.filter__select--small.js-cart-select4
                  option 10
                  option 16
                  option 50
        .filter__select-view
            span Produktansicht:
            button(type="button").filter__button.filter__button--cards cards
              i.material-icons apps
            button(type="button").filter__button.filter__button--list list
              i.material-icons view_list
        .filter__stock
          input(class="input" type="checkbox" id="stock" name="stock").
          label(for="stock").label
              span auf Lager
    article.products-main.dfw
        .products-main__content.df
            ul.products-main__list.df--b.dfw
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .new-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .natural-corner.corner
                          span.natural-corner__text NATURAL
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product4.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product1.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .new-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product2.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product3.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                li.products-main__element.df
                    .products-main__element-visible
                        .sale-corner.corner
                            span.sale-corner__text SALE
                        .products-main__element-image.df-cc.df-cc
                            img(src="/img/product4.png" alt="#").image
                        .products-main__element-text
                            h6.products-main__element-header
                                span Brit JUNIOR LARGE BREED
                            .products-main__element-info
                                span Getreidefrei Lachs & Kartoffel 1kg
                            .products-main__element-stars.df-c
                                .stars-active
                                    span ★★
                                .stars-not-active
                                    span ☆☆☆
                            .buttons-block.buttons-block--list.df
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons favorite
                                a(href="#").buttons-block__image.df-cc
                                    i.material-icons remove_red_eye
                        .products-main__element-buy
                            .products-main__element-price
                                span €12.00
                            .status-block
                                .status-block__header
                                    span Status
                                .status-block__info
                                    span auf Lager
                            button(type="button").products-main__element-button In den Warenkorb
                    .products-main__hover
                        .products-main__hover-container.df
                            .products-main__hover-header.df
                                .products-main__hover-brand.df-cc
                                    a(href="#"): img(src="/img/brand1.png" alt="#").image
                                .products-main__hover-buttons
                                    .products-main__hover-buttons-block.df-cb
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons favorite
                                        a(href="#").products-main__hover-buttons-image.df-cc
                                            i.material-icons remove_red_eye
                                    .products-main__hover-status-block
                                        .products-main__hover-status-header
                                            span Status
                                        .products-main__hover-status-info
                                            span auf Lager
                            .products-main__hover-info.df
                                .products-main__hover-info-block
                                    span Marke:
                                .products-main__hover-info-block
                                    span Pedigree
                                .products-main__hover-info-block
                                    span Produkttyp:
                                .products-main__hover-info-block
                                    span Hunde Kekse und Kuchen
                                .products-main__hover-info-block
                                    span Lebensalter:
                                .products-main__hover-info-block
                                    span für jedes Alter
                                .products-main__hover-info-block
                                    span Hunderassen:
                                .products-main__hover-info-block
                                    span für große Hunde
                                .products-main__hover-info-block-big
                                    span Lieferumfang:
                                .products-main__hover-info-block-big
                                    span.
                                        Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
                                        Genuss Multipackung Pedigree Riesenknochen ist der perfekte Leckerbissen für
                                        Ihren Hund - ein Genuss der perfekte Leckerbissen für Ihren Hund - ein
        article.main-block__sub-info
            p
            |    * Preise inkl. gesetzlicher MwSt. zzgl.&ensp;
            a(href="#").main-block__sub-info-link Versand
        article.pagination
            ul.pagination__list.df
              li.pagination__item
                a(href="#").pagination__link.pagination__link--active 1
              li.pagination__item
                a(href="#").pagination__link 2
              li.pagination__item
                a(href="#").pagination__link 3
              li.pagination__item
                a(href="#").pagination__link 4
              li.pagination__item
                a(href="#").pagination__link 5
              li.pagination__item
                a(href="#").pagination__link 6...
              li.pagination__item
                a(href="#").pagination__link.pagination__link--arrows
                  i.material-icons navigate_next
              li.pagination__item
                a(href="#").pagination__link.pagination__link--arrows
                  i.material-icons last_page
