section.main-body.body--margin
    .main-wrapper
        article.breadcrumbs
            ul.breadcrumbs__list
                li: a(href="#") Home
                li: a(href="#") Passwort ändern

        article.progress-bar
            h1.progress-bar__header
                span Passwort ändern

        article.form-block.form-block--center.df
            .form-block__element.form-block__element--full-width
                h2.progress-bar__legend
                    span ANMELDEINFORMATION
                form.forms
                    label(for="email2").forms__label
                        span E-Mail-Adresse
                    input(type="email" id="email2").forms__input
                    .forms__half
                      label(for="passwot1").forms__label
                          span PasswotAltes Passwort*
                      input(type="password" id="passwot1").forms__input
                    .forms__half
                      label(for="passwot2").forms__label
                          span Neues Kennwort*
                      input(type="password" id="passwot2").forms__input
                p.form-block__caption * Pflichtfelder
                .social.social--center.df-cb
                      button(type="button").big-orange-btn Senden
