article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Haustiershop Marken
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Warenkorb

article.progress-bar
    h1.progress-bar__header
        span SICHERE VERBINDUNG
    ul.progress-bar__list.df-c
        li.progress-bar__element.df-c.progress-bar__element--active.progress-bar__element--active-pass
            a(href="#").progress-bar__element-sub.df-cc
                span WARENKORB
        li.progress-bar__element.df-c.progress-bar__element--active.progress-bar__element--active-pass
            a(href="#").progress-bar__element-sub.df-cc
                span ANMELDEN
        li.progress-bar__element.df-c.progress-bar__element--active.progress-bar__element--active-pass
            a(href="#").progress-bar__element-sub.df-cc
                span RECHNUNG & LIEFERUNG
        li.progress-bar__element.df-c.progress-bar__element--active
            .progress-bar__element-sub.df-cc
                .progress-bar__element-number.df-cc
                    span 4
                span ZAHLUNG & BESTELLUNG
article.reg-info
    ul.reg-info__list.df
        li.reg-info__element
            p.reg-info__text.reg-info--text-margin Ich habe die &#32
                a(href="#").reg-info__text-link AGB
                |  und die &#32
                a(href="#").reg-info__text-link Datenschutz
                |  des Anbieters gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis.

            p.reg-info__text Die &#32
                a(href="#").reg-info__text-link Widerrufsbelehrung
                |  habe ich zur Kenntnis genommen.
        li.reg-info__element.df
            h3.reg-info__header.reg-info--text-margin
                span RECHNUNGS UND LIEFERADRESSE
            p.reg-info__text.reg-info--text-margin.
                Herr Jonny Cash 1121 Washington Ave 1121 Washington Ave New Orleans La Réunion (FR) 70130
            .reg-info__link-block
                a(href="#").reg-info__link
                    i.material-icons border_color
                    | ÄNDERN
        li.reg-info__element.df
            h3.reg-info__header.reg-info--text-margin
                span ZAHLUNGSMETHO
            p.reg-info__text.reg-info--text-margin.
                Vorkasse
            .reg-info__link-block
                a(href="#").reg-info__link
                    i.material-icons border_color
                    | ÄNDERN
article.cart-table
    table.table
        tr.table__header
            th(colspan="2").table__header-item Artikel
            th.table__header-item Lieferzeit
            th.table__header-item Menge
            th.table__header-item.t-ar Einzelpreis
            th(colspan="2").table__header-item.t-ar Betrag
        tr.table__content
            td.table__image
                img(src="/img/product5.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
        tr.table__content
            td.table__image
                img(src="/img/product7.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
        tr.table__content
            td.table__image
                img(src="/img/product6.png" alt="#").image
            td.table__product-info
                h3.table__product-header
                    span RAFINE ADULT HUHN, LACHS & SCHRIMPS
                .table__product-article
                    span Art.-Nr.: 11153
                .stars.df-c
                    .active
                        span ★★
                    .not-active
                        span ☆☆☆
            td.table__package
                p Sofort versandfertig, Lieferzeit ca.
                p 1-3 Werktage
            td.table__value-wrapper
                .table__value
                    input(type="text" placeholder="2").input
                    .arrow
            td.table__old-price.t-ar
                span €29.90
            td.table__price-wrapper.t-ar
                span.table__price €26.70
                span.table__price-info Du sparst 9%
            td.table__remove
                a(href="#"): i.material-icons close
article.cart-final.df
    .cart-final__block
        h2.cart-final__header
            span VORAUSSICHTLICHER VERSAND DIESES ARTIKELS:
        .cart-final__text
            p Freitag, 01.04.2016 - Sonntag, 03.04.2016
            p Bei Vorkassezahlung 2-4 Werktage nach Zahlungseingang.
    .cart-final__block
        h2.cart-final__header
            span GUTSCHEIN EINLÖSEN
        .cart-final__text
            p Falls Sie einen gültigen Gutschein einlösen wollen, geben Sie hier den Gutscheincode ein.
        .cart-final__subs.df--b
            input(type="text").cart-final__subs-input
            button(type="button").cart-final__subs-button EINLÖSEN
        .cart-final__price-final-info
            span Sie können nur einen Gutscheincode pro Bestellung einlösen.
    .cart-final__block
        .cart-final__price.df--b
            span.cart-final__price-header Gesamtpreis
            span.cart-final__price-value 56.10 €
        .cart-final__price.df--b
            span.cart-final__price-header Preis ohne MwSt
            span.cart-final__price-value 56.10 €
        .cart-final__price.df--b
            span.cart-final__price-header Versandkosten
            span.cart-final__price-value 0 €
        .cart-final__price.df--b
            span.cart-final__price-header Zahlungsbetrag, Steuern inklusive
            .cart-final__price-final.t-ar
                span.cart-final__price-final-value 114.10 €
                span.cart-final__price-final-info inkl. gesetzlicher MwSt.
        .cart-final__price.t-ar
            button(type="button").cart-final__price-button JETZT KAUFEN
