.static
  &__wrapper
    width 1050px
    margin 0 auto
  &__main-header
    width 100%
    text-align center
    margin-top 50px
    font-family r_med
    font-size 24px
  &__main-text
    display block
    width 100%
    margin-top 35px
    font-family r_reg
    font-size 16px
    line-height 20px
  &__column
    width 500px
    margin-bottom 40px
    &-text
      display block
      margin-bottom 15px
      font-family r_reg
      font-size 16px
      line-height 20px
      &:first-child
        margin-top 40px
    &-header
      font-family r_med
      font-size 18px
      padding 15px 0
      position relative
      margin-top 40px
      &::before
        position absolute
        content ''
        left 0
        top 0
        width 45px
        border-top 3px solid #f95318
    &-small-header
      display block
      margin-bottom 15px
      font-family r_bold
      font-size 16px
      line-height 20px
      &:first-child
        margin-top 40px
  &__header
    margin-top 40px
    &-pic
      margin-top 40px
