article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item: a(href="#").breadcrumbs__link Passwort-wiederherstellung
article.progress-bar
    h1.progress-bar__header
        span PASSWORT-WIEDERHERSTELLUNG
form.pass-form
    .pass-form__wrapper
        label(for="email").pass-form__label
            span E-Mail-Adresse
        input(type="email" id="email").pass-form__input
    p.pass-form__caption Wir senden Ihnen eine Bestätigungsmail. Klicken Sie auf den darin enthaltenen Link, um Ihr Passwort zu ändern.
    .pass-form__button.df
        button(type="submit").big-orange-btn Senden
