article.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Home
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Kontakt
article.progress-bar
    .progress-bar__wrapper
        h1.progress-bar__header
            span KONTAKT
        .progress-bar__description.df
            .progress-bar__callback
                h2.progress-bar__legend Wir helfen Ihnen gerne weiter!
                p Zufriedene Kunden liegen uns am Herzen, daher kümmern wir uns um alle Ihre Fragen, Probleme und Wünsche. Kontaktieren Sie uns telefonisch per E-Mail oder über das Kontaktformular. Unser Zoobio.de Team meldet sich umgehend bei Ihnen.
            .progress-bar__address
                h2.progress-bar__legend Firmensitz:
                p
                  | Toptirbedaf GmbH
                  br
                  | Josef-Orlopp-Straße 55
                  br
                  | 10365 Berlin
form.contact-form
    label(for="email2").contact-form__label
        span E-Mail-Adresse*
    input(type="email" id="email2").contact-form__input.contact-form__input--gray
    .contact-form__half
        label(for="name").contact-form__label
            span Name*
        input(type="name" id="name").contact-form__input.contact-form__input--gray
    .contact-form__half
      .contact-form__sex.df-c
          span.contact-form__sex-header Anrede
          input(type="radio" name="sex" id="sex1" checked).input
          label(for="sex1").label
              span Herr
          input(type="radio" name="sex" id="sex2").input
          label(for="sex2").label
              span Frau
          input(type="radio" name="sex" id="sex3").input
          label(for="sex3").label
              span Firma
    label(for="message").contact-form__label
        span Nachricht*
    textarea.contact-form__textarea
    .contact-form__half
        p.contact-form__caption *Pflichtfelder
        .contact-form__info-mark.df-c
            input(type="checkbox" id="news" checked).input
            label(for="news").label
                span Wünschen Sie einen Rückruf?
    .contact-form__submit-block.df-cb
        button(type="submit").big-orange-btn Senden
