/***************************************************************
***
***    MOST USE CLASSES
***
***************************************************************/

//--------------------
// Display
//--------------------

.d
  &f
    display flex
    &-c
      display flex
      align-items center
    &-cc
      display flex
      align-items center
      justify-content center
    &-ca
      display flex
      align-items center
      justify-content space-around
    &-cb
      display flex
      align-items center
      justify-content space-between
    &-ce
      display flex
      align-items center
      justify-content flex-end
    &--b
      display flex
      justify-content space-between
    &w
      flex-wrap wrap
    &-dc
      flex-direction column
  &b
    display block
  &ib
    display inline-block

//--------------------
// Margin
//--------------------

.m
  &-a
    margin auto
  &-ha
    margin 0 auto
  &-b0
    margin-bottom 0

//--------------------
// Height & Width
//--------------------

.h
  &100p
    height 100%

.w
  &100p
    width 100%

//--------------------
// Text & font
//--------------------

.t-
  &ac
    text-align center
  &al
    text-align left
  &ar
    text-align right
