.breadcrumbs
  width 100%
  box-sizing border-box
  padding 30px 0 10px 0
  direction ltr
  border-bottom 1px solid c_lgray
  & .breadcrumbs__item+.breadcrumbs__item:before
    padding 5px
    color c_gray
    content "|"
    opacity .5
  &__item
    display inline
    &:last-of-type
      .breadcrumbs__link
        font-family r_med
        color c_orange
    &:first-of-type
      .breadcrumbs__link
        color c_gray
  &__link
    opacity .5
    font-size 14px
    font-family r_reg
    color c_gray
    transition all .2s ease
    &:hover
      opacity 1
